[2013-06-18 13:06] markehammons opened #1 "Scala pickle cannot handle classes with cyclic references"
[code]

The above class will cause an out of memory error.

[2013-06-18 14:41] markehammons opened #2 "Scala pickle creates needless copies of objects"
In this code

[code]

X will pickle into:

[code]

Which will depickle into a X with two copies of the same array. In the above example, y is a depickled x. Instead of b pointing to the same array object as a, it now points to a new, different array.

This is related to issue #1

[2013-06-19 10:08] mathieuleclaire opened #3 "SPickler does not support traits"
I try to defined a dummy SPickler this way:

[code]

then I defined an implicit this way:

[code]

where Y extends the trait X:

[code]

but it does not apply the the pickle method I defined in the CustomPickler class, whereas it does if replacing X by Y in the definition of the implicit. Conclusion: SPickler does not support the trait (if I correctly coded the things), which is a big limitation.

[2013-06-19 14:08] markehammons opened #4 "CustomPicklers cannot be used in generic functions."
[code]

The above code will fail to compile even though a normal implicit conversion can be used in fn. The error is:

[code]

This was inspired by issue #3.

edit: My code was slightly inaccurate, so I fixed it. A regular implicit conversion with bounds like [T <: Person] can be used in fn, but conversion to CustomPersonPickler does not work though it should be able to.

[2013-06-20 09:38] d40cht opened #5 "Examples do not show pickling to and from a file"
I'd like to pickle an object which is in-memory resident at over 8Gb. I can't pickle this to a string - is there an interface to pickle directly to a file? If so, could we show it in the README?

[2013-06-20 17:12] #3 closed, assigned to nobody

[2013-07-01 02:42] jasonmit opened #6 "collections of non primitive types not supported"
Is there a work around or anything in the works to resolve this?

Thank you

[2013-07-10 21:07] #5 closed, assigned to nobody

[2013-07-14 20:54] pstutz opened #8 "Akka Support"
Hey, thanks a lot for the great work! This would solve a big problem for me if I could use it with Akka.

Viktor mentions @ https://groups.google.com/forum/#!searchin/akka-user/pickling/akka-user/CHeusozMtuQ/lfMtqHu0FvoJ that there might be some issues with Akka support because Pickling generates code at compile-time.

Are there any plans for an Akka extension? Can you elaborate in more detail wha

[2013-07-19 20:54] gaydenko opened #9 "publish roadmap"
It would be handy to have  - of course, as estimation - a roadmap to the first point which can be named more or less stable. Thanks!

[2013-08-01 13:04] Synesso opened #10 "IOException on compilation (filename too long)."
The following is fine:

[code]

When I add this line, I get a 658-line long compile-time exception:

[code]

error log: https://gist.github.com/Synesso/e2d39de5be20e7f302be

[2013-08-01 21:42] phaller opened #11 "Leaner handling of null"
https://groups.google.com/d/msg/scala-internals/8oTfjuGcKro/KvhWR8clFp0J

[2013-08-01 22:24] #9 closed, assigned to nobody

[2013-08-02 07:14] #6 closed, assigned to phaller

[2013-08-12 11:53] ghost opened #14 "Scala pickle cannot handle Map"
For this code

[code]

elems will pickle into:

[code]

which is wrong.

Would be nice to have something like (btw, the "tpe" bellow doesn't correspond to a real thing. Just added as example):

[code]

[2013-08-12 15:04] ConnorDoyle opened #15 "Support for common collections traits"
First of all, thanks for doing this work -- very cool and practical idea.

Is there a plan in place to handle automatic pickler dispatch for e.g.

[code]

Unfortunately, it's one of the first examples I tried.  I think I understand the concept; custom pickler plug-ins could potentially provide a `DPickler` to handle this reflectively.  However, would there be a way to relieve every plug-in author

[2013-08-20 12:40] #2 closed, assigned to phaller

[2013-08-20 12:41] #1 closed, assigned to nobody

[2013-08-27 09:49] markvandertol opened #16 "POM file doesn't validate"
I was trying to download the snapshot version (0.8.0-SNAPSHOT) through a proxy repository (Artifactory), however that failed because the XML in the POM doesn't validate the XSD schema for POMs.

The problem is that there are two `organization` elements, while the XSD for the POM only allows one.

In `Build.scala` an extra `organization` element is defined in `pomExtra`. Just removing the `organiza

[2013-09-03 13:20] ryskajakub opened #17 "Pickle a class where on field is enum"
Hi, the enums are not serialized nicely.
The most-specific type of the enum is not in the pickled version and the information about which value from the enumeration was pickled is completely missing.

[code]

It would be nice, if you'd look at it.

[2013-09-05 12:02] tomasherman opened #18 "Pickling case classes with objects and supertypes"
Hi,

i am having some problems with pickling. It seems to be doing something odd when trying to pickle case classes that contain objects. Consider this REPL session:

[code]

As you can see, there is something odd going on with `==` method going on in the highlighted example above. Am i doing something wrong? This happens only if we unpickle B using the unpickle[A] method (as far as i know)
Thanks

[2013-09-05 13:06] phaller opened #19 "Macro should not determine ValueType member of Pickle"
This leads to issues in IntelliJ, for example.

[2013-09-08 15:49] #15 closed, assigned to nobody

[2013-09-08 15:49] #14 closed, assigned to nobody

[2013-09-08 17:11] #16 closed, assigned to nobody

[2013-09-08 19:11] #19 closed, assigned to nobody

[2013-09-09 12:55] mraulim opened #27 "Case class with List/Array/Seq does not unpickle to its parrent type"
## steps

Hello, I have some issue with unpickling derived case classes.
example (additional `import Defaults._` is needed for 0.10.x):

[code]
## problem

[code]
## note

this works fine:

[code]

[2013-09-09 14:06] #18 closed, assigned to nobody

[2013-09-10 13:23] Skeebl opened #28 "Out of memory while compiling"
I'm getting `java.lang.OutOfMemoryError: Java heap space` while compiling [my project](https://github.com/notdryft/gatling-debug/tree/picklingOOM) with pickling since a recent update. It used to compile fine last week, and it still works fine as long as I comment `simulation.pickle` in class `Parser`.

I'm running `sbt compile` with default parameters:
`/usr/bin/java -Xmx512M -jar /usr/local/Cella

[2013-09-11 08:54] emchristiansen opened #31 "Compilation failure when using type parameters"
Please see this StackOverflow post:

http://stackoverflow.com/questions/18725699/scala-pickling-and-type-parameters

This is either a bug or user error.
If it is user error, perhaps the documentation should be updated.

[2013-09-11 11:43] #4 closed, assigned to nobody

[2013-09-11 11:49] #31 closed, assigned to nobody

[2013-09-15 17:13] emchristiansen opened #32 "Runtime crash when pickling a FastTypeTag"
Maybe it's a bit weird, but I want to serialize a FastTypeTag, so I can do type verification for a type-safe key-value store I hacked together.
Unfortunately, while the pickling seems to work, unpickling causes a runtime error.

## steps

This code:

    import scala.pickling._, Defaults._
    import scala.pickling.binary._

    val ftt = implicitly[FastTypeTag[Int]]
    val pickled = ftt.pickle

[2013-09-16 11:09] emchristiansen opened #33 "Weird behavior when pickling org.joda.time.DateTime"
When picking then unpickling a `DateTime`, the original value of the `DateTime` is lost, replaced with the current time.

Here's a console session:

[code]

[2013-09-20 21:35] crumbpicker opened #34 "Use under_scores instead of CamelCase"
Jackson allows to use custom naming strategies. It implements the CAMEL_CASE_TO_LOWER_CASE_WITH_UNDERSCORES strategy as a builtin (http://jackson.codehaus.org/1.9.9/javadoc/org/codehaus/jackson/map/PropertyNamingStrategy.LowerCaseWithUnderscoresStrategy.html).

Is it possible to apply such custom strategies with pickling ?

[2013-09-25 20:18] milanraulim opened #35 "List as type parameter error"
Hello,

I have this function:

[code]

when I try to call it with `Seq[Int]  => p(Seq(1,2,3))` it returns

[code]

but if I try to call it with `List[Int] => p(List(1,2,3))` it causes exception

[code]

Thanks for your help,
Milan

[2013-09-26 02:20] emchristiansen opened #36 "BigDecimal unpickling doesn't work"
I'll let the console history speak for itself:

[code]

[2013-09-26 20:19] milanraulim opened #38 "scala.NotImplementedError when using custom function to unpickle case class to its parent trait type"
Hello, here is the problem:

[code]

but when I define function to unpickle any instance of type T or any instance derived from trait T, it fails

[code]

## problem

[code]

Thanks a lot,
Milan

[2013-09-28 06:57] guersam opened #39 "Schema evolution handling"
Hi,

Scala Pickling looks highly promising so that I want to migrate an existing [Eventsourced](https://github.com/eligosource/eventsourced) application which uses default Java serialization for event storage.

Currently the biggest concern other than #27 is schema versioning. The application requirement changes as time goes by, so eventually I'll need to add/rename/remove some fields from event m

[2013-10-04 14:06] tomasherman opened #40 "Pickling - possible race condition?"
Hey guys,

i have following problem:

i am trying to pickle this case class

[code]

The problem is that when i try to pickle this class from two different threads at the same time, i get following:

[code]

[code]

as you can see, there are some really odd "$ref"s that i don't care for. Am i doing something wrong or is that error on your end? To me, it looks like some kind of race condition when

[2013-10-06 11:45] mateuszdraco opened #41 "generic function with pickling"
Is it possible to write generic function that would pickle given argument of yet unknown type?
Something like:

[code]

[2013-10-07 05:25] eaceaser opened #42 "Cannot generate a pickler for a class named 'Unit' when not namespaced."
## steps

To reproduce, run from the REPL:

[code]

## problem (0.10.0)

[code]

## problem from the original report

fails with:

[code]

## expectations

Note that redefining C with a fully qualified path, without importing Container._:

[code]

evaluates to

[code]

which is correct.

[2013-10-09 11:03] heathermiller opened #43 "Add ability to unpickle from a file (we can already pickle to a file..., why not from?)"
In #5 we introduced support for pickling to files, but for some reason we neglected add support for _unpickling from_ files.

[2013-10-10 12:45] #28 closed, assigned to phaller

[2013-10-11 09:57] heathermiller opened #45 "Object graph support is not thread safe"
The logic for keeping track of object ids when analyzing object graphs is not thread safe. https://github.com/scala/pickling/blob/2.10.x/core/src/main/scala/pickling/package.scala#L106
An easy fix is to put these vars into threadlocals.

[2013-10-11 13:18] #45 closed, assigned to nobody

[2013-10-12 09:27] #36 closed, assigned to nobody

[2013-10-14 19:34] yashton opened #50 "Unable to deserialize Option[X] member of case class."
This is the minimum test necessary to reproduce. I have a more complicated case class than this in my code base, but the Option[X] member appears to be the problem. The October 13th snapshot update seems to have introduced the bug. I get the same error when in 2.10.3-RC2 as well as 2.10.2.

[code]

I turned on -Xlog-implicits to get the following error on compile

[code]

I was able to find the Fi

[2013-10-15 01:18] emchristiansen opened #52 "Apparent regression"
I think a bug was added within the last 11 days to 0.8.0-SNAPSHOT.
I haven't been able to reproduce it as a test case in the scala-pickling project, but I do have a fairly simple external project in which the bug shows up.

The project is https://github.com/emchristiansen/PersistentMap.
It passed its builds on 3 October, but failed when it was rebuilt today.
Nothing of significance changed in that

[2013-10-16 22:00] #52 closed, assigned to nobody

[2013-10-16 22:03] #50 closed, assigned to nobody

[2013-10-18 16:36] heathermiller opened #57 "Can't generate unpickler in class hierarchy when passing object params to parent"
[From StackOverflow](http://stackoverflow.com/questions/19430730/cant-generate-unpickler-in-class-hierarchy-when-passing-object-params-to-parent):

The example below pickles fine, but I get a compile error stating that no unpickler can be generated. Here is a simple test case to reproduce this:

[code]

Please let me know if you need any additional information on this.

Here is the stacktrace I ge

[2013-10-18 17:21] #57 closed, assigned to nobody

[2013-10-20 23:14] emchristiansen opened #59 "Please explain how to deal with PicklerUnpicklerNotFound"
I'm currently getting a runtime `NotImplementedError` from `PicklerUnpicklerNotFound`, and I'd like to know what the general strategies should be for working around it.
As this is the most common bug I've found while using pickling, maybe it deserves a section in the README.

I'm also wondering why it even exists; it seems to push detectable compile-time errors (no pickler found) into a runtime er

[2013-10-21 09:16] andrewwilson opened #60 "Pickling Java classes yields empty objects"
Hi,
It seems that java classes aren't currently well handled, when attempting to either pickle directly, or say embedded in fields of pure scala classes.
The examples below compile successfully, and generate pickled representations.

However in each case:
a) unpickling to the specific type, successfully returns an object, however it's incorrectly initialised. (i.e. it's fields don't match those of

[2013-10-25 22:25] maqdev opened #61 "Design of PickleFormat trait"
Hi!

I've created a library using the power off scala.pickling.

While I was working on that library I was struggling with `PickleFormat`.

The problem is that this is solid type for both pickle/unpickle operations. If you're serializing into database there is different types of objects for reading/writing like Statement class (write parameters) and ResultSet/Row classes for reading.
For example i

[2013-11-07 00:53] vchuravy opened #63 "Running into problems when pickling Map and HashMap"
## steps (0.10.0)

[code]
## problem (0.10.0)

[code]
## original report

My data structure is stored as a Map and when I try to pickle it I run into some weird issues.

When pickling a immutable.HashMap using the following example code.

[code]

as output I get

[code]

If I use instead the following snippet of code

[code]

I also end up with

[code]

only when I don't explicitly import Map do I

[2013-11-08 02:19] laogao opened #64 "What happens if my case class has a field with the name `tpe`"
Not sure if this is the right place to ask, or if it has been brought up elsewhere before, but when I have a case class such as

[code]

The pickler will give me back a JSON string with two "tpe"s:

[code]

which would in turn fail to unpickle:

[code]

Is there a way I can avoid the above behavior, e.g. by telling the library to leave out the auto-generated `tpe` field, other than rolling my own

[2013-11-08 13:27] LBliss opened #65 "Unsafe array offsets are wrong in ByteArrayBuffer"
The decode methods of ByteArrayBuffer use the wrong offsets (always the offsets of IntArrays).

[2013-11-08 13:32] LBliss opened #66 "Binary package refactoring"
Move the ugly stuff (i.e. unsafe memory copies and so on) from binary.ArrayBuffer to binary.Util.

[2013-11-08 13:35] LBliss opened #67 "Get rid of EncodedOutput"
Use directly binary.Util for the encoding/decoding details, have a simple Output and get rid of EncodedOutput.

[2013-11-08 13:46] LBliss opened #68 "Benchmark of usefulness of endCollection having the collection size"
For now the correct collection size is given at the endCollection:

[code]

What would be the impact of

[code]

and getting rid of the length argument at endCollection.

Benefit:
- Incremental
- Simpler API

[2013-11-08 13:52] LBliss opened #69 "ByteBuffer - charArray encoding has wrong size"
In ByteBuffer, encodeCharArrayTo() use 4 bytes per Char elements, should be 2 !

[2013-11-09 18:48] arturaz opened #72 "Unpickling fails when multithreading"
https://gist.github.com/anonymous/079febc0011dd7c97553#file-gistfile1-txt-L56

This happens when two threads try to unpickle two different things of same type in same time.

[code]

[2013-11-11 08:16] sirinath opened #73 "Salat"
Is it possible to see if there is a possibility to introp and avoid duplication and framework fragmentation with Salat

[2013-11-11 19:24] lilZ420 opened #74 ""invalid index 1 in unpicklee cache of length 1" during unpickling where object ref is repeated"
## steps (0.10.0)

[code]

## problems

[code]

## original report

Here is a sample use case to produce an Invalid Index exception when unpickling:

[code]

As reported on StackOverflow:
http://stackoverflow.com/questions/19436070/invalid-index-unpickling-where-object-ref-is-repeated

[2013-11-11 19:28] lilZ420 opened #75 "Runtime exception when unpickling Array of tuple"
Below is a use case to produce a runtime exception when unpickling an Array of tuple.

import scala.pickling._
import json._
object JsonTest extends App {
  val simplePickled = new Simple(Array(("test", 3))).pickle.unpickle[Simple]
}
class Simple(val x: Array[(String, Int)]) {}

Originally reported on StackOverflow:
http://stackoverflow.com/questions/19427894/unpickler-for-array-of-tuple

[2013-11-22 13:08] #65 closed, assigned to nobody

[2013-11-22 13:46] #69 closed, assigned to nobody

[2013-11-22 13:48] #68 closed, assigned to nobody

[2013-11-22 13:49] phaller opened #80 "Add a test suite for binary encoding utilities"

[2013-11-22 18:46] phaller opened #81 "Support for OpenJDK 6"
The API of `sun.misc.Unsafe` in OpenJDK 6 is slightly smaller than in Oracle JDK 6. It would be good to also support OpenJDK 6.

[2013-11-27 20:22] huntc opened #82 "Remove JSON support from core"
JSON support is likely to be provided via other libraries and its functionality is of a wider scope than that provided by scala-pickling. Having JSON functionality as part of the pickling library could therefore confuse users of the standard Scala distribution.

My recommendation is that the `scala.pickling.json` package be relegated to a sample.

The package in question:

https://github.com/scala

[2013-11-28 08:18] #82 closed, assigned to nobody

[2013-11-29 13:55] #66 closed, assigned to nobody

[2013-11-29 20:57] LBliss opened #84 "Benchmark uses System.currentTimeMillis()."
System.currentTimeMillis() may be quite imprecise on some platforms, typically Windows which can (arbitrarily...) use a granularity of tens of milliseconds.

A better solution would be to use System.nanoTime() which is guaranteed to be at least as precise as the former, but typically far better.

http://docs.oracle.com/javase/7/docs/api/java/lang/System.html#nanoTime%28%29

[2013-11-29 22:16] #84 closed, assigned to nobody

[2013-11-30 11:52] LBliss opened #86 "More incorrect array offset in binary.Util."
A few more offset are incorrect, as revealed by the reformatting (previously it was hard to check them all due to code duplication).

[2013-11-30 12:08] LBliss opened #88 "WikiGraph benchmark throws unmappable exceptions on windows"
The WikiGraph benchmark ("graphpick") read a file containing invalid (in regard of UTF-8) characters.

Using a codec fixes this problem (cf. PR).

[2013-11-30 12:31] LBliss opened #90 "Bad issue"
Resubmitted issue to remove bad references.

[2013-11-30 17:24] LBliss opened #92 "Wiki Graph benchmarks crash"
The "graphbench" (WikiGraph.scala) doesn't work, crashing during the unpickling phase.

Not sure if it's due to a bug in pickling or in the benchmark itself.

Thought for a while that it was related to elipsed types, but maybe it isn't.

[2013-11-30 17:25] #90 closed, assigned to nobody

[2013-12-05 13:44] phaller opened #93 "Diagnostic output when runtime pickler generation is necessary"
Runtime pickler generation is risky in the sense that when generation fails you only get a runtime exception.

[2013-12-13 06:53] lihaoyi opened #94 "Clearly define boundaries of picklability"
The docs go on about how scala-pickling is fast when static, and how it falls back to dynamic reflection/etc. when the types aren't known. However, it doesn't say at all where the limits are, an even very simply dynamic pickles (e.g. below) seem to cause crashes. It would be great if it was stated somewhere where these boundaries are, so even if they're unavoidable, at least we can be conscious of

[2013-12-16 14:08] PhilAndrew opened #95 "Cannot unpickle a case class with a field name called "columns""
Final update: This is a strange bug, IF I have pickle or unpickle calls in my large class then this sort of bug appears. If I move the pickle or unpickle out to a smaller class which just deals with pickling then this bug goes away.
So I tend to make sure that my pickle and unpickle calls are then located in a small dedicated class to the pickling in a different Scala file.

Update: Moving this co

[2013-12-18 21:34] #86 closed, assigned to nobody

[2013-12-18 21:43] #88 closed, assigned to nobody

[2013-12-24 05:27] eoliphan opened #96 "Demo case fails when unpicking with Any"
I'm looking to use this for generic serialization so unpickling would always be based on Any.   I just tried this with the simple demo case:

[code]

And I get the following exception

[code]

[2013-12-27 11:55] julienrf opened #97 "Pickling an abstract type"
Consider the following trait:

[code]

I’d like to write a function that pickles a value of type `User`, which is abstract. Here is what I came out with:

[code]

This trait can then be used as follows:

[code]

My problem is that I’d like to avoid the imports to at the `ModuleUsageImpl` site, especially the `scala.pickling.binary._` import. By the way, if I import `scala.pickling.json._` at this

[2013-12-30 01:42] benwing opened #98 "Please write documentation!"
Hello. I'm new to this project and just tried to test Scala pickling for possible use in a medium-sized NLP project (c. 32,000 lines of code). Scala pickling looks like an awesome project and I'd love to able to use it -- I have some relatively-simply-structured but very large and time-consuming-to-build objects for storing things like language models and ranking-model training data, and I want to

[2014-01-06 12:03] piotrga opened #99 "Can not pickle/unpickle a Map[String,Any]"
I am using version 0.8.0-SNAPSHOT.

[code]
And I am getting this when unpickling:
[code]

[2014-01-07 03:35] clhodapp opened #101 "Sbt warning due to having "org.scala-lang" as organization"
Sbt has some special handling for library dependencies under org.scala-lang. Of particular interest is the fact that it issues warnings if the versions of these libraries is not the same as scalaVersion in update. It's not pressing, but I hope that this issue will serve as a reminder that something really should be done about this.

[2014-01-07 22:35] #75 closed, assigned to nobody

[2014-01-10 13:03] fancellu opened #102 "Issues with recursive structures"
Compiles file, pickles fine, stack overflow on unpickle

[code]
#

[code]

+

[code]

[2014-01-10 13:14] #102 closed, assigned to nobody

[2014-01-12 18:34] scroyston opened #103 "Can't build a project that depends on pickling"
[code]

[2014-01-14 14:11] electricmonk opened #104 "Release to maven central"
Heya,
Do you have any plans to deploy this library to maven central as a formal release? it seems really cool and I would love to try it in production...

[2014-01-20 08:16] cooljykim opened #106 "Unpickling a class with mutable Map doesn't work"
## steps (0.10.0)

[code]
## problem

[code]

At this point, we are already missing the elements.
## notes

The test case should've added

[code]
## original report

As you can see my test cases below, pickling/unpickling a class with an immutable Map works, but a class with a mutable Map does not seem to be working.
If this is a bug, is there any work-around solution, please?

Here's my test case

[2014-01-22 07:50] lihaoyi opened #107 "Pickling and unpickling an Array[Int] blows up"
[code]

[2014-01-28 11:45] glidester commented on #10
Ok. This is very odd.

On the play! command line if I run 'clean' then 'compile' I get:

[code]

if I then run 'compile' a second time then it succeeds!

[2014-01-28 14:13] atomicleads opened #108 "Generic cache function"
I'm trying to build some common caching trait like this:

[code]

That should be used like this:
[code]

When i'm trying to compile this code, i'm getting following exception:
[code]

How i can build something like this ? Please advise

[2014-01-29 11:15] glidester opened #109 "invalid index 6 in unpicklee cache of length 5"
Hi. I'm trying to use pickling to serialize (in JSON) the securesocial.core.SocialUser class. It pickles ok but when I try to unpickle the json string representation it throws an java.lang.Error with the message "invalid index 6 in unpicklee cache of length 5".

I've created an Eclipse scala worksheet that demonstrates the issue:

[code]

(the json string is the one generated by calling pickle.val

[2014-01-29 11:43] glidester commented on #109
Some more info:

I created my own implementation of the securesocial.core.Identity trait (that SocialUser implements) and that pickles and unpickles fine.

Looking at the json produced when pickling my own implementation hi-lights some differences with the json produced pickling the SocialUser implementation.

Here is the json produced from pickling my implementation:

[code]

I suspect the issue

[2014-01-31 14:39] esorf opened #110 "Sonatype repo POM contains 2.10.2 dependencies"
scala-library & scala-reflect specify version 2.10.2 which leads to build warnings.

http://oss.sonatype.org/content/repositories/snapshots/org/scala-lang/scala-pickling_2.10/0.8.0-SNAPSHOT/scala-pickling_2.10-0.8.0-SNAPSHOT.pom

[2014-02-10 13:47] weihsiu opened #111 "how to specify the endianness for the binary format?"
how does one specify the endianness for the binary format?  i search the source code to no avail.  is there a way to configure it?

[2014-02-12 00:41] badend opened #112 "When will you remove snapshot?"
I usually use kyro with chill by tweeter, It is good.

I know from this page, pickling is better usability and performance.

But i could't insist of this product in my corporation because of snapshot..

[2014-03-20 03:17] vrahli opened #114 "unpickle[Any]"
I'm curious as why objA2 below is different from objA1.
objA2 is Pair(Pair(1,2),Pair(1,2)).  The second 1 gets replaced by Pair(1,2).
The fact that the second 1 is a 1 matters.  Changing it to something
else gives me the correct result.

Also, calling objB2.toString gives me a StackOverFlowError error.

What's going on?

[code]

[2014-03-22 07:00] mateuszdraco opened #115 "Pickling `List[Product with Serializable with MyTrait]`"
There is some problem with Set that what I understand is wrong. Let's define:

[code]

Now, if try to pickle some collections:

[code]

The third List does not work, however it's not real issue, we just have to specify the type of an elements and we are good to go.

And now, the main problem is that I cannot pickle any filled set of values:

[code]

And I have no idea what I should do to make it w

[2014-03-23 14:32] frgomes opened #116 "First call to pickkle fails to expand full name of object being serialized"
Hello,

Looks like the first call to pickle in the environment and the way I'm using it fails to expand the class name being serialized. Below you can see a "more or less isolated" test case which demonstrates how it happens:

<pre>
package dao

import play.api.test._
import org.specs2.matcher.ShouldMatchers
import scala.pickling._
import json._

class PickleSpec extends PlaySpecification with Sho

[2014-04-11 10:08] ccocchi opened #119 "New 0.8.0-SNAPSHOT won't compile on 2.10"
Hi,

This commit https://github.com/scala/pickling/commit/018237e1245fdd804e492131b7445480747efd6a seems to have introduce a bug when compiling with 2.10.3. Here's the stacktrace we get:

[code]

[2014-04-15 18:35] vchekan opened #121 "Examples are confusing"
I like the idea of pickling library very much, but the problem with documentation is not lack of it, but confusing examples and structure.

I believe usage example should look like this: http://stackoverflow.com/a/23091338/158913 because serialization library examples can not be demonstrated without converting objects to string and from string to object. Current examples fail to demonstrate how to

[2014-04-16 15:05] #119 closed, assigned to nobody

[2014-04-17 22:22] vchekan opened #122 "UUID is missing"
Could java.util.UUID be added to the bundled types please? It is frequently used type.

[2014-04-30 09:52] bardurdam opened #128 "Option fields in case classes are null in the constructor when unpickling"
[code]
results in
[code]

[2014-04-30 23:03] countfloyd opened #129 "Need version that runs with Scala 2.11"

[2014-04-30 23:16] #129 closed, assigned to nobody

[2014-05-05 17:10] #104 closed, assigned to nobody

[2014-05-13 11:34] glidester opened #130 "Issue pickling class in binary jar"
Think this must be related to this post I made a while back: https://github.com/scala/pickling/issues/109#issuecomment-33577531

When pickling an instance of the securesocial.core.SocialUser class that extends the securesocial.core.Identity trait two issues occur that make the resulting json not able to be unpickled.
1. Instead of producing:
   `"tpe": "scala.Some[java.lang.String]"`
   I get:

[2014-05-19 16:35] #80 closed, assigned to nobody

[2014-05-19 16:37] #67 closed, assigned to nobody

[2014-05-19 16:42] #43 closed, assigned to nobody

[2014-05-23 03:08] etorreborre opened #135 "An implementation is missing: how to debug this?"
I tried to pickle one of my objects and got a "missing implementation":

[code]

Is there any way for me to debug this without having to manually remove all the fields in my object until I find the problematic one?

[2014-05-23 06:32] huangjs opened #136 "Error pickling classes defined in Java (List and mutable.HashMap)"
I got the following error message:

[code]

And its type is List[Seq[MyObject]], MyObject is defined in Java.

Also I had a similar message when pickling mutable.HashMap[String, MyObject]

What's happening here? Is there a way to fix it?

Jianshi

[2014-05-29 16:11] gaydenko opened #137 "deprecate for human, please"
Hi!

I have tried scala-pickling under 2.11.1 and have got deprecation warnings
[code]
against `pickle` and `unpickle` methods. Not sure where to find this message de-cyphering for "normal users".

How to resolve the deprecation?

[2014-06-06 00:53] Rongchao opened #138 "exception during macro expansion: java.lang.ClassNotFoundException"
Hi There:

I came across an exception when I ran example on readme.

I am using scala 2.10.4 and scala-pickling_2.10-0.9.0-SNAPSHOT.jar

The example I ran is:

[code]

The exception is

[code]

I tried manually adding quasiquotes_2.10.4-SNAPSHOT-2.0.0-SNAPSHOT.jar, but it didn't help.

Looking forward to insights and thanks a lot.

[2014-06-06 02:21] #138 closed, assigned to nobody

[2014-06-18 22:29] mmirold opened #139 "Combination of separate compilation, generated case class picklers, and custom pickler leads to empty serialization"
Dear all,

Disclaimer: I am new to scala-pickling, so I am probably just doing something wrong.

I have two source folders A and B. Folder A contains the following scala code:

[code]

If I compile folder A using

[code]

I get the expected result:

[code]

However, if I compile the following code in folder B:

[code]

via

[code]

and execute it, I get

[code]

The result is the same for scala-pi

[2014-06-26 04:39] RyanGlScott opened #140 "Pickling an ArrayBuffer fails on Android: ExceptionInInitializerError"
I'm not sure if `pickling` has ever been used on Android before, so I decided to take the plunge and try it out with [`android-sdk-plugin`](https://github.com/pfn/android-sdk-plugin). Unsurprisingly, things broke. Here's the class I'm using:

[code]

Upon rotating the device (which calls `onSaveInstanceState()`, the app crashes with this Logcat stack trace:

[code]

So for some reason, `val pickle

[2014-07-08 02:54] lucasrpb opened #141 "Is there any way to ignore fields?"
I would like to know if there's a way to ignore class fields. Something like this:

case class test(@transient var x: Int, var y: String)

I would want ignore x var on serialisation. Is it possible?

[2014-07-10 09:28] pishen opened #142 "sbt warning when using scala-pickling 0.8.0 with scala 2.11.1"
I'm creating a new sbt project with sbt 0.13.5, here's my build.sbt
[code]
And I get the following sbt warning when initializing the project:
[code]
Any suggestion on how to resolve this warning?

[2014-07-16 12:06] vladmiller opened #143 "Does not compile with -Yrangepos option"
Hello,

Pickling lib will not compile if -Yrangepos option is specified. Will result in
_Synthetic tree [XXX] contains nonsynthetic tree [XXX]_
compiler error.

[2014-07-20 05:13] omidb opened #144 "not understanding pickleto and pickleinto"
Can you put an example in readme file about how to pickle to/from file?
I found #5 about writing t a file but it doesn't work work in version 0.8.0
thanks for "pickles" ;)

[2014-07-20 05:46] omidb opened #145 "scalac freez"
I am working with intellij, in both scala 2.11.0 and 2.10.4, no matter of what if I use .pickle I can not compile the code, no error, just freez in some points.
here is my code:

import scala.pickling._
import scala.pickling.binary._
val items = MyHelper.parseAll(MyHelper.getAllAtrAdjectives).pickle

[2014-07-24 02:01] riedelcastro opened #146 "Problem with custom-made pickler and binary format for class that contains map"
I am trying to write a custom-made pickler for a class that contains a generic `Map[String,Any]` field. Somehow everything works fine for the `json` format, but once I switch to `binary` I get a `java.lang.ArrayIndexOutOfBoundsException`. I am using pickling 0.8.0.

A simplified version of my code is below:

[code]

This code creates the `ArrayIndexOutOfBounds` exception, changing to `import json.

[2014-08-11 19:46] invkrh opened #158 "Error: could not find implicit value for parameter e: scala.pickling.FastTypeTag"
When testing pickling-0.8 with case class serialization, I got an error:
[code]
I managed to do some workaround to get rid of it, but I am not sure it's a wanted feature.
Here are two code snippets will help to reproduce the error:

### Snippet 1:
[code]
This code is good and resulted in :
[code]
### Snippet 2:
[code]
This code resulted in an error:
[code]

I can not understand why the position of

[2014-08-13 03:02] joprice opened #161 "Docs say 'use 2.10.4', but scala 2.11 seems to be supported"
Are the docs out of date or is 2.11 not officially supported?

[2014-08-17 03:34] lihaoyi opened #164 "scala.ScalaReflectionException: type T is not a class"
[code]

Clone this particular revision

https://github.com/lihaoyi/autowire/commit/5fc3066aef81fbe62939505bcdaf0e37740c3c4a#diff-826e9a6ed74accfd3512bcd6279d3bc7R109

And hit `sbt jvm/test` to repro.

I have no idea why it's blowing up; all I know is that it is ^_^

[2014-08-25 17:37] #107 closed, assigned to nobody

[2014-08-25 20:18] timtinny opened #171 "Pickling for nested structures (graphs)"
I have the following graph structure:

[code]

When I try to pickle, I get the following error:

[code]

[This test case](https://github.com/scala/pickling/blob/0.9.x/core/src/test/scala/pickling/run/nested-non-primitive-subclass.scala)  shows how a simple nested structure can work. But, I could not make it for a generic graph.

Is there a way to write custom pickler for this generic case?

[2014-09-01 00:33] jportway opened #179 "pickling fails with null pointer exception when pickling multi-dimensional arrays to json"
the following code fails with a null pointer exception when pickling to a json output, but seems to work ok with a binary output

[code]

here's the exception I'm getting :

[code]

[2014-09-01 08:31] dallmeier opened #180 "Constant val is omitted from pickle causing NPE on unpickle"
I have an abstract class that extends a trait with an abstract `val`, and a case class that extends the abstract class:

[code]

I would expect the generated pickle to contain val `name`. However, the output I get is:

[code]

[2014-09-03 05:42] sameersingh opened #183 "Cannot generate pickler/unpickler for Map in nested cases"
Ok, this is a weird one.

This works:
[code]

But, changing the `Seq` into a `Map`:
[code]
results in this:
[code]

Other cases/observations:
   - Pickling `A` works fine in both cases
   - If `B` is has `a: A` instead of `a: Seq[A]`, it's fine
   - Changing `Map` to `Seq[(String,String)]` also gives the same error
   - I'm using pickling 0.8.0 with Scala 2.10.4

Any ideas why this is happening, a

[2014-09-04 04:55] ephe-meral opened #185 "SBT unable to resolve 0.9.0-SNAPSHOT"
Problem: I cannot use pickling 0.9.0-SNAPSHOT in my SBT 0.13.5 project, since it cannot resolve the dependency - 0.8.0 works however.
Interestingly, the link that SBT tries [http://oss.sonatype.org/content/repositories/snapshots/org/scala-lang/scala-pickling_2.11/0.9.0-SNAPSHOT/scala-pickling_2.11-0.9.0-SNAPSHOT.pom](http://oss.sonatype.org/content/repositories/snapshots/org/scala-lang/scala-pickl

[2014-09-04 08:30] #185 closed, assigned to nobody

[2014-09-15 12:08] gfduszynski opened #187 "Cannot unpickle case class nested in object"
I have case classes in object like so:

[code]

I also have a carrier message like so:

[code]

Pickling works fine, generated json is correct with tpe for command like "Commands$SomeCommand" and proper x value.
However after unpickling "cmd" field in carrier message holds an instance of SomeCommand with field "x" always being null.

Issue occurs in 0.9.0-SNAPSHOT (20140915061306)
Issue does not o

[2014-09-19 13:19] Blaisorblade opened #190 "Clarify whether this is production-ready?"
Is this just an interesting research prototype, or is this also intended for production use?
I see the warnings in the README, but they don't seem clear enough to everybody.

Here's a relevant rant on Twitter. I can't judge the content myself.

https://twitter.com/extempore2/status/480844387295846401
https://twitter.com/extempore2/status/480844536415940608
https://twitter.com/extempore2/status/480

[2014-09-22 17:52] havocp opened #191 "picklers could be contravariant?"
I'm just initially investigating the library (we are still trying to figure out how to serialize stuff in sbt).

One thing we discovered using play-json is that we ended up going back and changing a lot of Format[T] to Writes[T], where Writes is contravariant in T. This then enables correct variance (i.e. not invariance) on types which make use of Writes[T]. Format[T] forced invariance in unnatura

[2014-09-26 09:57] invkrh opened #194 "fatal error: invalid index 14 in unpicklee cache of length 4"
Hi,

I am working on the following code, it raises an error when `Line 2`(marked in code) is used. StackTrack is attached in the end.

If `Line 1` is used instead of `Line 2`, everything is Ok.

The difference between `Line 1` and `Line 2` is with or without Random.nextInt when filling the case class' parameters.

It is really weird.

[code]

Here is the StackTrack:

[code]

Any help is highly app

[2014-09-28 20:00] #194 closed, assigned to nobody

[2014-09-29 13:31] alexkvak opened #198 "value unpickle is not a member of String"
Before the latest updates I had work code, and now I have the error

[code]

Library version is 0.9.0-SNAPSHOT

Please fix it ASAP

[2014-09-29 14:16] #190 closed, assigned to nobody

[2014-09-29 14:22] #11 closed, assigned to nobody

[2014-09-29 16:48] #198 closed, assigned to nobody

[2014-10-02 02:14] cakoose opened #202 "Doesn't work when there's a package named "scala"."
Reduced test case:
## steps (0.10.0)

[code]
## problem

[code]
## notes
- Platform: Mac OS 10.9.4, Java 1.7.0_67, Scala 2.11.12
- Built scala/pickling from the latest source (0.9.x branch, commit 61d9f198c21c573d4bf929d5eb682a16f20f719a)

I tried modifying the scala/pickling source and changing a bunch of `scala.whatever` references to `_root_.scala.whatever`.  I think this got me further, but I

[2014-10-02 04:27] cakoose opened #203 "Causes compile error in unrelated Java code."
I have a mixed Java and Scala project.  Using scala/pickling causes a compile error in a seemingly unrelated Java file.  Reduced test case:

Test.scala
[code]

Unrelated.java
[code]

Compile output when I run `scalac` with both files together:
[code]

- Platform: Mac OS 10.9.4, Java 1.7.0_67, Scala 2.11.2
- Built scala/pickling from the latest source (0.9.x branch, commit 61d9f19)

[2014-10-04 20:17] #187 closed, assigned to heathermiller

[2014-10-11 18:27] #73 closed, assigned to nobody

[2014-10-13 19:28] phaller opened #205 "Sealed trait with only final subclasses should not generate catch-all clause in dispatch"

[2014-10-16 21:24] dzufferey opened #207 "Compiler Warning with Value Classes"
## steps (0.10.0)

[code]
## problem

[code]
## original report

When (un)pickling value classes, the compiler produce a warning that looks like:

[code]

Pickling code produces a correct result. So this is more cosmetic than an issue.

tested with scala 2.11.2 and pickling 0.9.0-SNAPSHOT

The full warning looks like:

[code]

the `getContent` method (of Message class) is defined as:

[code]

Proc

[2014-10-17 14:08] sisso opened #209 "Allow to generate single line json."
We would like to use pickle to serialize data from mapreduce but didn't found a nice way to generate json into a single line. The current impl of JSONPickleBuilder (v0.8.0) use some hard code "appendLine".

My current workarounds are replace all '\n' (ugly) or parse and serialize with json4s (no comments :P)

[2014-10-17 22:40] julianrz opened #210 "Excessive tpe entries on json array elements"
When serializing an array (likely, any collection) to JSON, each element of resulting JSON array contains the (potentially lengthy - long package name!) "tpe" entry. This is redundant, since the array itself already has a tpe entry with full information on element type. If a long array is serialized, current behavior would result in a file which is a lot larger than it has to be

[code]

[2014-10-19 10:11] #72 closed, assigned to nobody

[2014-10-20 22:29] phaller opened #212 "Better error message when implicit PickleFormat is missing"

[2014-10-20 23:30] julianrz opened #213 "Serialization fails on list when invoked from a method with generic (parameterized type) argument"
Serialization fails on list when invoked from a method with generic (parameterized type) argument

(see post http://stackoverflow.com/questions/18725699/scala-pickling-and-type-parameters)

[code]

[2014-10-21 18:10] #209 closed, assigned to nobody

[2014-10-23 15:12] #33 closed, assigned to nobody

[2014-10-29 11:32] eiennohito opened #217 "Documentation about sharing"
After updating to 0.9 and viewing source code more closely, I have rewritten this issue.

Just using picking in a tight loop `clearPicklees` method uses a lot of time.
Putting `import scala.pickling.shareNothing._` in the serialization code improves running time appx by 50%, however it is undocumented and seems very hacky to me.

Documentation about sharing seems to be nowhere, can you tell more a

[2014-11-03 09:01] davidmweber opened #221 "unpickle not a member of Array[Byte]"
In 0.8.0 and 0.9.0-SNAPSHOT, you could unpickle an Array[Byte], but it appears to be broken or the API has changed in 0.9.0. Here is an example that no longer works in 0.9.0:

[code]

This generates a message "value unpickle is not a member of Array[Byte]"

Thanks

[2014-11-03 15:39] #221 closed, assigned to nobody

[2014-11-06 18:55] havocp opened #227 "materializeFastTypeTag depends on caller import of scala.pickling.FastTypeTag"
In sbt we are trying to set things up so that people only import sbt.pickling and not scala.pickling, to be sure people get any of our custom picklers (and also just for convenience).

The problem is that right now "import scala.pickling.FastTypeTag" is required to get implicit FastTypeTag, even though materializeFastTypeTag is in the companion object and should not require an import. The material

[2014-11-13 06:39] elfprince13 opened #229 "Pickling fails with macro exception for Map in Scala 2.11"
I built scala-pickling_2.11-0.9.1-SNAPSHOT.jar with sbt.

I have the following in my code:

[code]

which causes an error at pickle:
- exception during macro expansion: java.util.NoSuchElementException: head of empty list at scala.collection.immutable.Nil
   $.head(List.scala:420) at scala.collection.immutable.Nil$.head(List.scala:417) at
   scala.pickling.Macro.preferringAlternativeImplicits(Tool

[2014-11-13 09:44] #229 closed, assigned to phaller

[2014-11-13 13:06] #227 closed, assigned to heathermiller

[2014-11-17 17:47] simbo1905 opened #240 "invalid index 2 in unpicklee cache of length 2: json unpickling fails on second reference to same object"
Using:

    "org.scala-lang" %% "scala-pickling" % "0.9.0",

Given:

    case class PaxosNumber(counter: Int, nodeIdentifier: Int)
    case class Identifier(val number: PaxosNumber, val logIndex: Long)
    case class Bookwork(val highestCommitted: Identifier, val highestPromised: PaxosNumber)

When:

      import scala.pickling._
      import json._

      val minValue = PaxosNumber(Int.MinValue,

[2014-11-24 16:29] phaller opened #246 "Static-only switch should reject generic types"
A case like `Apple[T] extends Fruit` can't be supported without runtime pickling/unpickling kicking in, so it should be reject in static-only mode.

[2014-11-27 19:17] tindzk opened #247 "Compiler hangs"
The following program causes the compiler to hang:

[code]

See https://github.com/tindzk/pickling-test for a small sbt project.

There is also a sbt warning which I don't understand:

[code]

[2014-12-09 14:56] dallmeier opened #250 "Failed to pickle/unpickle java.util.UUID"
The following test fails for me on bea06fb88b1f252cead5a7720b5d7bc14ccac85e of branch 0.10.x:

    package pickling.run

    import org.scalatest.FunSuite
    import scala.pickling._, Defaults._
    import json._

    class NestedUuidTest extends FunSuite {

      test("main") {
        val uuid = java.util.UUID.randomUUID()
        val pickle : JSONPickle = uuid.pickle
        val unpickled = pic

[2014-12-14 22:52] kosii opened #253 "RuntimeException: error: could not create FastTypeTag for class 'scala.None$'"
When executing the following code:
[code]
I get a runtime exception for the second call like this:
[code]

I tried to minimize my code, but any of these made the exception disappear:
* replace T with a concrete type in the function parameters: `def appendLog[T: SPickler : FastTypeTag](entry: Either[Option[Int], Int]) = entry.pickle`
* remove the Option: `def appendLog[T: SPickler : FastTypeTag](en

[2014-12-20 04:28] funkyjive opened #255 "java.lang.OutOfMemoryError compiling a set of case classes"
I've been using scala pickling for a project and I have run into a compile time issue.  When I added a certain class structure of case classes (think of it as a tree structure), the compiler appears to go recursive and consume all the CPU and memory until the JVM dies with an OutOfMemoryError

I took my project code and reduced it to the smallest set I could that would reproduce the problem.  It d

[2014-12-25 03:13] Andrei-Pozolotin opened #256 "v 0.9.1 unpickle[Any] works for array but not for list"
in v 0.9.1

the following works:

[code]

yet this fails:

[code]

with error:

[code]

what am I missing?

[2014-12-29 22:51] quentinms opened #257 "RuntimeException: error: could not create FastTypeTag"
Hello,

With the simple following snippet I get an `Exception in thread "main" java.lang.RuntimeException: error: could not create FastTypeTag for class 'scala.Tuple2$mcIZ$sp'` error

[code]

However, this one works fine

[code]

Am I missing something ?

I'm using Pickling 0.9.0 and Scala 2.11.4

[2015-01-04 19:55] phaller commented on #108
The `cached` method simply needs implicit `SPickler` (for the `pickle` call) and `Unpickler` (for the `unpickle` call) parameters (the following code is self-contained and compiles on 0.10.x):

[code]

[2015-01-06 19:29] bwwinthehouse opened #260 "Seq[Option[Seq[Double]]] Field Not Implemented"
[code]

[2015-01-08 08:06] windelknecht opened #263 "pickling a java.lang.Byte does not work"
Using:

    "org.scala-lang" %% "scala-pickling" % "0.9.1"

When:

    import scala.pickling._, json._
    val r1: java.lang.Byte = 13.toByte
    val r2 = r1.pickle

Then:

    {
        "tpe": "java.lang.Byte"
    }

But scala.Byte works:

    val z1: Byte = 13.toByte
    val z2 = z1.pickle
    {
        "tpe": "scala.Byte",
        "value": 13
    }

[2015-01-08 08:19] windelknecht commented on #263
It seems that none of the java.lang.* primitives work.
So is this an issue or is my code incomplete?

[2015-01-11 18:10] MasseGuillaume opened #264 "stack overflow"
I want to serialize scalameta trees

https://github.com/scalameta/example/blob/master/plugin/src/main/scala/org/scalameta/example/Example.scala#L12

[code]

I get a stackoverflow.

...
at scala.tools.nsc.typechecker.Contexts$Context.implicitss(Contexts.scala:866)
at scala.tools.nsc.typechecker.Contexts$Context.withOuter$1(Contexts.scala:845)
at scala.tools.nsc.typechecker.Contexts$Context.implicit

[2015-01-14 07:18] jacobus commented on #10
Hi,

Just link your project target directory to a directory outside the encrypted directory.

From inside you project directory (the directory containing the target folder) run this command:

ln -s /tmp target

Cheers,
Jacobus

[2015-01-20 17:29] jsuereth opened #272 "Swap mirror usage to a loaner pattern for more fine-grained locking"
Create new

[code]

macro that will enforce GRL lock during the running, where we can encode all runtime pickling or reflection code inside of, without (ideally) perf hit).

Additionalyl, remove GRL.lock()/unlock() from ALLL pickle/unpickle code.

[2015-01-23 00:54] dwalend opened #274 "Shorter error messages"
The full text of the pickled string is scrolling by when something goes wrong. (Will figure out what in a bit.) It's scrolling passed the limits of my shell buffer. This could also cause trouble in logs or if the exception message has to be transmitted.

Is there a good way to truncate the error message?

Thanks,

Dave

[info]     {
[info]     "tpe": "scala.Tuple3[java.lang.String,java.lang.String

[2015-01-23 01:00] havocp commented on #274
What about putting the JSON on one really long line (take the newlines out?) does that help?

It could be impossible to diagnose a problem without having the text (if the problem is in the truncated part).

[2015-01-23 02:24] dwalend commented on #274
How about putting the full JSON string in the Exception, as a member, instead of in the message? That wouldn't help with transmission, but would help with diagnosing problems and reduce clutter.

The root problem looks like JSONPickle's toString() adds an "as JSON" to the end. value() seems to be the better choice. Bonus points if the parser can tell us "scala.pickling.PicklingException: failed to

[2015-01-27 05:19] retronym commented on #274
BTW, echoing the input data (truncated or otherwise) in the exception message might be seen as a security weakness. See http://cwe.mitre.org/data/definitions/209.html

[2015-01-30 07:46] sagar6191 opened #276 "error while pickling a Map[String,Set[String]]"
Sorry if the issue is lame or smtng a kid can solve but am new to scala and js imported scala-pickle jar file from below mentioned link and encountered an error !!

js got the jar file from http://mvnrepository.com/artifact/org.scala-lang/scala-pickling_2.11/0.9.1

[code]

[2015-02-03 12:08] mgladdish commented on #247
And me (albeit without the sbt warning)

[2015-02-06 04:16] #64 closed

[2015-02-07 16:23] adamdecaf commented on #210
I would think that the specific type information would only be needed on collections whose types have variance. Otherwise it seems that on invariant types the extra `tpe`'s aren't needed. Just brainstorming though.

[2015-02-07 16:31] adamdecaf commented on #39
Since 0.10.0 came out I was looking at pickling for use to persist messages and was thinking about how schema evolutions would happen. Sadly this test I wrote didn't pass, but I'm mentioning it here to see if now that some of those PR's in the SI have been merged if it's likely for pickling to have support for handling default methods. It looks like it'll be fixed in scalac in 2.11.6?

https://git

[2015-02-07 17:00] havocp commented on #210
over in https://github.com/sbt/serialization we have a pickle format for JSON that's a little more economical, though it does still write out the type for this case I believe. Conceptually if you never pickle/unpickle Any (meaning you only use StaticOnly mode) no type tags are needed at all for leaf types in the type hierarchy.

[2015-02-07 17:03] havocp commented on #39
In https://github.com/sbt/serialization we support Option fields that can be missing.

[2015-02-08 00:39] eed3si9n commented on #35
List works ok using Pickling 0.10.0.

[code]

[2015-02-08 00:39] #35 closed

[2015-02-08 05:02] eed3si9n commented on #38
I can't reproduce this using Pickling 0.10.0.

[code]

[2015-02-08 05:02] #38 closed

[2015-02-08 05:49] eed3si9n commented on #42
I can reproduce the problem using Pickling 0.10.0.

[code]

[2015-02-08 06:07] eed3si9n commented on #63
I was able to reproduce this problem using Pickling 0.10.0.

[2015-02-08 06:20] eed3si9n commented on #74
I was able to reproduce the problem using Pickling 0.10.0.

[2015-02-08 06:52] eed3si9n commented on #95
[code]

This is a duplicate of #10. One of things to try would be

[code]

[2015-02-08 06:52] #95 closed

[2015-02-08 06:56] eed3si9n commented on #99
This seems to work for Pickling 0.10.0.

[code]

[2015-02-08 06:56] #99 closed

[2015-02-08 07:17] eed3si9n commented on #101
I don't think this happens with recent versions of sbt.
Are we talking about sbt/sbt#709?

[2015-02-08 07:17] #101 closed

[2015-02-08 07:29] eed3si9n commented on #103
Works for me using Pickling 0.10.0. See https://github.com/xeno-by/sbt-example-pickling/pull/2.

[2015-02-08 07:29] #103 closed

[2015-02-08 07:45] eed3si9n commented on #106
I was able to reproduce the issue using Pickling 0.10.0.

[2015-02-08 07:46] eed3si9n commented on #108
I'm closing for now since @phaller responded.

[2015-02-08 07:46] #108 closed

[2015-02-08 07:59] eed3si9n commented on #110
Pickling depends on a specific version of scala-compiler. It's sort of the way it is.

[2015-02-08 07:59] #110 closed

[2015-02-08 07:59] #111 closed

[2015-02-08 08:01] eed3si9n commented on #112
Pickling 0.10.0 is published to Sonatype. http://search.maven.org/#search%7Cga%7C1%7Cscala-pickling

[2015-02-08 08:01] #112 closed

[2015-02-08 08:11] eed3si9n commented on #115
There's bit of a type inference issue mixed in with this Pickling problem.

[code]

The error I get when I pickle is:

[code]

[2015-02-08 08:18] eed3si9n commented on #128
I was able to reproduce this using Pickling 0.10.0.

[code]

[2015-02-08 08:27] eed3si9n commented on #137
I don't think this happens with Pickling 0.10.0 + Scala 2.11.x any more.

[2015-02-08 08:27] #137 closed

[2015-02-08 08:41] eed3si9n commented on #101
Actually sbt still has the code for [binaryScalaWarning](https://github.com/sbt/sbt/blob/v0.13.7/ivy/src/main/scala/sbt/IvyScala.scala#L65-L76), but Pickling 0.10.0 won't see it since it's now in a different organization. org.scala-lang.modules.

[2015-02-08 08:42] eed3si9n commented on #142
Pickling 0.10.0 is in `org.scala-lang.modules`, so this should no longer happen.

[2015-02-08 08:42] #142 closed

[2015-02-08 08:45] eed3si9n commented on #145
Could you try the latest Pickling 0.10.0 and if it still happens, please bring it up to IntelliJ guys.

[2015-02-08 08:45] #145 closed

[2015-02-08 08:50] eed3si9n commented on #158
After changing to `import scala.pickling._, Defaults._` both cases works for me using Pickling 0.10.0.

[2015-02-08 08:50] #158 closed

[2015-02-08 08:54] eed3si9n commented on #161
This seems to be a solved issue now.

[2015-02-08 08:54] #161 closed

[2015-02-08 09:09] eed3si9n commented on #171
Using Pickling 0.10.0, I was able to pickle the graph, but I was not able to unpickle back to `Node`.

[code]

Here's the output I got:

[code]

[2015-02-08 09:11] eed3si9n commented on #179
This works using Pickling 0.10.0.

[code]

[2015-02-08 09:11] #179 closed

[2015-02-08 09:29] eed3si9n commented on #180
I am still seeing NPE for https://github.com/scala/pickling/issues/180#issuecomment-54806095 with Pickling 0.10.0.

[code]

[2015-02-08 09:35] eed3si9n commented on #183
This works for me using Pickling 0.10.0.

[code]

[2015-02-08 09:35] #183 closed

[2015-02-08 09:40] eed3si9n commented on #202
I can reproduce this with Pickling 0.10.0.

[2015-02-08 09:44] eed3si9n commented on #203
I was not able to reproduce this problem using Pickling 0.10.0.

[2015-02-08 09:44] #203 closed

[2015-02-08 09:59] eed3si9n commented on #207
I was able to reproduce this problem using Pickling 0.10.0.

[2015-02-08 10:09] eed3si9n commented on #210
Here's the case where having type info would help.

[code]

Unfortunately, Pickling 0.10.0 won't be able to unpickle that to `Array[Fruit]` but that's another story.

[2015-02-08 10:15] eed3si9n commented on #213
I cannot reproduce the problem using Pickling 0.10.0.

[code]

[2015-02-08 10:15] #213 closed

[2015-02-08 10:20] eed3si9n commented on #74
This one is older, but since there's a workaround presented in #240 I'm closing this as the duplicate.

[2015-02-08 10:20] #74 closed

[2015-02-08 10:35] eed3si9n commented on #247
I can't reproduce the compiler hanging using Pickler 0.10.0.

[code]

The sbt warning issue is #142, which used happen because Pickling used to be published using org.scala-lang organization and sbt warns when it suspects Scala compiler and library versions do not match up. That's also now fixed in 0.10.0.

[2015-02-08 10:35] #247 closed

[2015-02-08 10:37] eed3si9n commented on #250
I was able to reproduce this using Pickling 0.10.0.

[2015-02-08 10:41] eed3si9n commented on #250
Closing this as a duplicate of #122.

[2015-02-08 10:41] #250 closed

[2015-02-08 11:27] eed3si9n commented on #253
I cannot reproduce the error using Pickling 0.10.0.

[code]

Not sure how you can unpickle this correctly.

[2015-02-08 11:52] eed3si9n commented on #255
I can't reproduce this using Pickling 0.10.0.
Here's the code with slight modification.

[code]

[2015-02-08 11:52] #255 closed

[2015-02-08 11:57] eed3si9n commented on #260
I could not reproduce the problem using Pickling 0.10.0.

[code]

[2015-02-08 11:57] #260 closed

[2015-02-08 12:01] eed3si9n commented on #263
More sinister problem is that you get `0` when you unpickle.

[code]

[2015-02-08 12:05] eed3si9n commented on #263
Maybe this is a case of #60.

[2015-02-08 12:12] eed3si9n commented on #256
Using Pickling 0.10.0, I get opposite result on REPL:

[code]

[2015-02-08 12:15] eed3si9n commented on #257
I cannot reproduce the problem using Pickling 0.10.0.

[code]

[2015-02-08 12:15] #257 closed

[2015-02-08 12:19] eed3si9n commented on #276
I was not able to reproduce the problem using Pickling 0.10.0.

[code]

[2015-02-08 12:19] #276 closed

[2015-02-08 18:04] julianrz commented on #210
Good point, but 99% of the time a data structure will be homogeneous, or will contain 2-3 subclasses, so maybe specifying tpe1 tpe2 and tpe3 on array level, and referring to them on each element will work? Especially if it is a sealed hierarchy and all subclasses are known upfront...   

[2015-02-08 19:17] eed3si9n commented on #264
I was not able able to get stack overflow using Pickling 0.10.0, but instead got OutOfMemory error.

## steps
- clone https://github.com/scalameta/example/commit/4a705accd93d79d06176866a01b43c1cceec8fb3
- append the following to project/Dependencies.scala

[code]
- edit project/Build.scala

[code]
- edit plugin/src/scala/org/scalameta/example/Example.scala as follows:

[code]
- run "project test"

[2015-02-09 09:30] phaller commented on #63
Looks like this issue is due to the fact that specialized classes are not
handled correctly.
On Feb 8, 2015 7:07 AM, "eugene yokota" notifications@github.com wrote:

[2015-02-09 13:21] #122 closed

[2015-02-10 14:10] phaller commented on #191
Based on many subsequent discussions, this issue is clearly outdated. Therefore, I'm closing it now.

[2015-02-10 14:10] #191 closed

[2015-02-13 06:30] eed3si9n opened #296 "A path forward for pickling Java objects"
Related: #60, #263, #33, #211, #295, #301

This is a general issue for discussing pickling Java objects. Hopefully we can reach some positive path forward.
## Joda-Time isn't fixed

First, I would like to dispel the notion that Pickling 0.10.0 works with Joda-Time. It really doesn't.
Here's a demonstration of #33 and #60 combined:

[code]

Why does it "work" for `DateTime`, but not for `LocalDate`

[2015-02-13 14:49] jsuereth commented on #296
interesting, this means that Joda doesn't abide by the JavaBeans spec (not surprising).

SO, another option you don't mention is sun.misc.Unsafe (see Kryo's usage as an example), or ASM bytecode reading.   We could probably compile time verify these.

[2015-02-15 14:08] dschmitz opened #297 "OSGi support"
Please add OSGi support to your library by generating the appropriate MANIFEST.MF which can be done with sbt-osgi.

[2015-02-18 07:32] davidmweber opened #298 "Unpicker fails to throw when deserialising a String from a bad (shortened) Array"
If a String is pickled and the resulting pickle (Array[Byte]) is shortened for some reason, unpickler should throw an exception. Unpickler correctly thows an exception for a Float. This behaviour is only present for binary pickles. JSON's work fine.

[code]

[2015-02-19 02:33] pjan commented on #39
It would be totally awesome if schema evolution came about. It currently is the thing keeping us back from using pickling. @adamdecaf's outlined usecases pretty much sum up the hoped-for functionality for now.

protobuf/avro/thrift was mentioned before, but it is just not cutting it in a pure scala-based environment due to the lack of support for e.g. polymorphism, drastically cutting down the fle

[2015-02-19 03:10] colin-scott commented on #43
Hi, can someone provide an example of unpickling from a text (json) file? Thanks!

[2015-02-19 17:27] hseeberger commented on #297
OMG!

[2015-02-19 17:29] hseeberger opened #299 "Deprecation warning"
"method newTermName in trait Names is deprecated: Use TermName instead"

[2015-02-19 17:30] eed3si9n commented on #297
Did @hseeberger volunteer for a pull request?

[2015-02-19 17:32] hseeberger opened #300 "Compiler error when trying to unpickle `akka.actor.Address`"
[code]

[2015-02-19 17:35] hseeberger commented on #300
Maybe because of the `private` constructor?

[code]

[2015-02-19 17:39] hseeberger commented on #297
No, I'd rather volunteer for closing this issue with "won't fix".

[2015-02-19 20:04] phaller commented on #299
Yep, it would be nice to resolve this. The problem is that we haven't figured out a way to do that without creating a 2.11-specific (or 2.10-specific) branch. Medium-term there's probably no way around it, though.

[2015-02-20 22:14] kiritsuku opened #301 "Default `Pickler[java.io.File]` is broken"
It only contains the type information:

[code]

[2015-02-20 22:17] eed3si9n commented on #301
Thanks for the report. This is a variation of #60/#296.

[2015-02-20 22:53] kiritsuku opened #302 "source jar is not correctly packed"
The sources need to be inside of their correct packages. To me it seems that the `scala` package got somehow stripped away:

[code]

[2015-02-23 10:23] ktoso opened #303 "BinaryPickle - unpickling something that contains empty Maps fails"
[code]

The pickled bytes look like this:

[code]

So yeah, Nothing is inferred and captures, but it still should be able to deserialize I think, using an empty Map literal is very useful at times - initialising empty data structures etc.

// this was on 0.10.0

[2015-02-23 14:33] manuelbernhardt opened #304 "Snapshot artifact seems to have vanished"
The deep void at https://oss.sonatype.org/content/repositories/snapshots/org/scala-lang/modules/scala-pickling_2.11/ is glaring at me, almost as if annoyed by my presence.

[2015-02-23 16:38] manuelbernhardt opened #305 "Pickling a complex type as String"
Disclaimer: I'm not sure if what I am trying to do could in theory work, because I don't know enough about pickle theory.

I'm trying to pickle a Java class (`org.bson.types.ObjectId`) so that its JSON representation yields a String. That works. However, unpickling does not quite work as well because, I think, the field is recognised as String and the `JSONPickleReader` does not know what to do (I

[2015-02-23 16:53] havocp commented on #305
This may be helpful: https://github.com/sbt/serialization/blob/master/serialization/src/main/scala/sbt/serialization/pickler/JavaExtraPicklers.scala#L39

[2015-02-24 09:35] manuelbernhardt commented on #305
Thanks for the hint @havocp but I'm afraid the trouble arises before my custom unpickler even has a chance to get called - I tried using a similar approach to the example (pushing hints, pinning them etc. - by the way is there anywhere I could read up on what the meaning of pushing, pinning, unpinning etc. is?) but to no avail, the JSONPickleReader blows up at https://github.com/scala/pickling/blo

[2015-02-24 14:35] manuelbernhardt opened #306 "Pickling an empty list does not produce an empty JSON array"
[code]

I would expect list not to be an object but an empty JSON array instead

[2015-02-24 16:44] manuelbernhardt commented on #306
Nevermind, I think I may have misunderstood the aim of the JSON pickler - am I right that the JSON pickler is just meant to turn a type into a string representation that happens to be JSON rather than a JSON format that is meant for manipulation as-is?

[2015-02-24 17:02] havocp commented on #306
the JSON format that comes with pickling doesn't produce very "natural" JSON. the one that's in sbt serialization generates something that's probably more what you were expecting.

[2015-02-24 17:05] havocp commented on #305
if you blow up there then I think your goal is to go here instead: https://github.com/scala/pickling/blob/e8e6e261a592b364c8d602b11b0174248018a1fa/core/src/main/scala/pickling/json/JSONPickleFormat.scala#L206

maybe build a small compilable test case to attach here.

there aren't docs for the hints stuff. If I knew what they should say, I'd write them. :-)

[2015-02-25 15:18] #60 closed

[2015-02-25 22:51] kiritsuku opened #307 "Generate better error messages for Unpickler.generate[GenericType]"
In the case below, there is a useful error message reported for `generate[A]`. But for the case `generate[C[A]]`, the error message is more or less garbage:

[code]

[2015-02-27 06:53] twinkle-sachdeva opened #308 "quotes appearing around for data with datatype as Long"
Hi,

I am using scala-pickling_2.10-0.10.0.jar to do case class to jSON converstion.
It is converting Long values also to string.

For example, for the case class below:
case class TestClass( startTime: Long, path: String, flavour: String, flavourPass: Boolean)

 println(toJsonString(TestClass(1276819200,null,"A",true)))

It is printing:

{
  "$type": "Main.TestClass",
  "numberOfArgs": "127681920

[2015-02-27 07:16] heathermiller commented on #308
Hi there, this is deliberate. In short, it's because numbers in Java and JavaScript are represented differently (64-bit integers in Java vs 64-bit floating point in JavaScript). This article on SO explains it a bit more: http://stackoverflow.com/questions/17320706/javascript-long-integer

You could write your own custom Long pickler if you'd like to overlook this.

[2015-02-27 07:17] heathermiller commented on #308
(Closing, please reopen if you think this requires more discussion :) )

[2015-02-27 07:17] #308 closed, assigned to nobody

[2015-02-27 13:51] btbvoy commented on #141
Here is a failing case which isn't working.
**Given**:

[code]

**Actual**:

[code]

**Expected**:

[code]

Could someone take a look at this case?

Thanks in advance,
Pavel

[2015-02-28 00:00] jsuereth commented on #306
Yeah, I think maybe we need to contribute our JSON back, or just make a note that it exists.

We use json4s + jawn, which is not zero-dependency, hence it can't be part of the pickling library directly, but rather an external module.

[2015-02-28 00:30] eed3si9n commented on #306
I think the readme or the talk said pickling's JSON implementation inlines the String operations on compile-time so the runtime performance is really good. sbt/serialization's implementation is less hardcore about runtime perf, but aims for natural, organic feelings of humans. (which is not a bad thing when you're using this for json API)
We should perhaps run some benchmark and tables. Also we sh

[2015-02-28 13:35] jsuereth commented on #304
as soon as you release a final, the -SNAPSHOT disappears.  We don't have a nightly build yet.

[2015-03-02 10:39] manuelbernhardt commented on #304
So does it mean there should be no SNAPSHOT for `0.10.1`? I kind of assumed there would be one given what the last paragraph of `README.md` says.

[2015-03-02 10:49] manuelbernhardt commented on #306
I'd very much welcome an indication as to the nature of the JSON being produced, perhaps going as far as to renaming it to `SyntheticJSON` as I believe this is not what Crockford had in mind when he set out to create JSON.

To clarify: the use-case I'm having at the moment is to implement a CQRS system where the UI is in Javascript, all Commands and Events implementing the same traits. Therefore I

[2015-03-06 22:11] eed3si9n opened #309 "TextFileOutput improvements"
This is a feature proposal

Currently we have [TextFileOutput](https://github.com/scala/pickling/blob/v0.10.0_2.10/core/src/main/scala/pickling/FileOutput.scala) but it has some potential issues.
1. [PrintWriter](http://docs.oracle.com/javase/7/docs/api/java/io/PrintWriter.html) eats exceptions ("never throw I/O exceptions") so it's probably not recommended for anything other than hello world.
2.

[2015-03-08 18:15] simbo1905 opened #310 "scala.pickling.shareNothing._ required to avoid java.lang.ClassCastException"
Using version 0.10.0:

[code]

Using it with `sbt run` to compile this file:

[code]

Gets a runtime ClassCastException:

[code]

This can be fixed by adding `scala.pickling.shareNothing._` to the imports to be:

[code]

[2015-03-09 10:30] kosii commented on #253
Thank you for testing, I was using 0.9.0, but it seems to work with 0.10.0. I also forgot to import static._, that's why I got a run-time error instead of a compilation error.

[2015-03-09 10:30] #253 closed

[2015-04-01 14:58] kiritsuku opened #311 "Check validity of hints"
[code]

Results in:

[code]

It should give an explanation what went wrong and how to fix the problem.

[2015-04-01 15:08] kiritsuku commented on #311
These two methods are broken:

[code]

`popHints` can't pop infinitely and `withHints` need to check if `hints.tag` is not null.

[2015-04-01 15:11] kiritsuku opened #312 "Write docs for Hintable"
There is nothing right now.

[code]

[2015-04-02 06:26] davidmweber commented on #298
These tests now pass.

[2015-04-02 06:26] #298 closed, assigned to nobody

[2015-04-02 10:25] kiritsuku opened #313 "Replace directSubclasses annotation by a macro driven implementation"
Since annotations are not carefully supported in Scala (we can't do `@directSubclasses(Array(classOf[Object.type]))`), scala-pickling shouldn't rely on them. Instead it should use a similar implementation to what is provided by safepickles [Autogen.children](https://github.com/fsist/safepickle/blob/6a28c9b4764cc20ab784698abcd0acba49e2993e/src/main/scala/com/fsist/safepickle/Autogen.scala#L851).

[2015-04-04 14:33] #217 closed

[2015-04-05 04:26] marklemay opened #317 "diverging implicit expansion error"
I get the error:

[code]

on the file

[code]

many small tweaks will make the above compile, for instance being more specific about the imports

[code]

I am using scala 2.11.6 and scala-pickling_2.11 version 0.10.0.

[2015-04-06 20:51] Eilie opened #318 "Not production ready"
It can't be production ready as long as it depends on unapply.
Usually in production you're dealing with large and old codebases and quite often case classes are holding more than 22 fields.
Scala don't generate unapply for case classes with more than 22 fields.
Don't even try to blame me and existing architecture, I'm sick of it.

[2015-04-06 20:56] eed3si9n commented on #318
@Eilie I could agree on your sentiment of production readiness, but >22 is not one of them in my criteria if it's caught statically. Do you mind renaming this case to something a bit more descriptive + supply repro steps so we can work on it? Thanks!

[2015-04-06 20:58] Eilie commented on #318
Nevermind, I'm drunk and I love Scala.

[2015-04-06 20:58] #318 closed, assigned to nobody

[2015-04-07 06:18] heathermiller commented on #318
Haha :laughing:

[2015-04-07 13:43] #302 closed, assigned to phaller

[2015-04-09 14:18] vergenzt opened #319 "Pickler.generate for type constructors (such as Pickler.generate[Either[L,R]])"
I'm on `scala-pickling_2.11-0.10.0`, and have done the following:

[code]

I get an error: `error: Cannot generate a pickler for Either[Int,String]. Recompile with -Xlog-implicits for details`. (I'm using Scala IDE and Gradle to build my project, and for some reason I have been unable to get `-Xlog-implicits` to actually work in either.)

Any thoughts?

[2015-04-09 14:54] vergenzt commented on #319
It seems to be similar to #50, but I have no way of knowing until I can get the extra logging to work. -_- I'm working on that.

[2015-04-09 15:04] havocp commented on #319
Is your pickler implicit? in the code you quoted the `val pickler` isnt implicit.

That error message is really misleading. It's the implicitNotFound message saying no implicit pickler was found when trying to call a method that takes an implicit pickler. If the implicit generator macros are in scope, not found does mean "cannot generate"; but if you aren't using those macros (and I wouldn't) then

[2015-04-09 16:12] vergenzt commented on #319
The error occurs on the `generate` line. (Originally it occurred when I was trying to use a pickler, but I reduced the code to this.)

Picklers definitely exist for `Int` and `String`, and I thought the whole point of this was that `scala-pickling` can generate composite picklers from simpler types? It doesn't make sense to me that an already-existing pickler of type `Either[Int,String]` has to ex

[2015-04-09 16:21] havocp commented on #319
no, that doesn't make sense. To generate that pickler you should need picklers in scope for Int, String, Left, and Right, and Either needs to be sealed. i.e. to generate a static pickler for a trait it has to be a sealed trait and you have to have picklers for all the subtypes. You may also have to list subtypes in a `@directSubclasses` annotation depending on how the compiler tackles your files.

[2015-04-09 17:10] vergenzt commented on #319
Okay, so I think I understand what you're saying to be: In order to generate a pickler for `Either[L,R]`, (a) `Either` has to be sealed (it's a sealed abstract class); (b) I need a pickler for `Left[L,R]`; and (c) I need a pickler for `Right[L,R]`.

The pickler generation works when I use `Int` and `String` as in the following (which compiles with no errors):

[code]

However, in my actual usage r

[2015-04-09 18:15] jsuereth commented on #319
I think we should probably provide a custom-baked Either pickler.

[2015-04-09 19:11] havocp commented on #319
Agreed that `Either[L,R]` should be included out of the box.

I think the `generate` macro just isn't smart enough to autogenerate a generic pickler like that - right now when we have a type parameter, we seem to always be writing out the pickler by hand. In principle `generate` _could_ be improved to create a pickler for `Foo[T]` given that it has a pickler for T, but it doesn't know how to do th

[2015-04-10 02:07] jsuereth commented on #319
you actually can't use the type tag in the event the types are the same (or it's a type that has subclasses), you need some other specifier (unfortunately).

[2015-04-10 14:33] vergenzt commented on #319
Ahh, I didn't realize that. Has implementing this been considered? It doesn't sound like it would be infeasible, and I'd love to try my hand at it if you have any tips.

What does this mean?

[2015-04-10 14:39] phaller commented on #319
Hi @vergenzt, there is some support for generics already implemented. It'd probably be best to look at some examples for generic types in the test suite. If you're interested in improving the support for generics, that'd be appreciated, of course!

[2015-04-10 14:49] phaller commented on #319
Here are two tests for generated picklers for generic types:
https://github.com/scala/pickling/blob/0.10.x/core/src/test/scala/pickling/run/generics-simple.scala
https://github.com/scala/pickling/blob/0.10.x/core/src/test/scala/pickling/run/generics-tough.scala

As you can see, the generic types in these tests are really simple. But maybe these tests are helpful for experimenting with the current

[2015-04-10 16:28] havocp commented on #319
fwiw first thing I'd do is make versions of those tests "minus magic" (remove Defaults._, import StaticOnly).

[2015-04-10 17:30] vergenzt opened #320 "Setting up for Eclipse/Scala IDE development"
I'm trying to get set up working on generics (per conversation in #319), but am having issues with Eclipse/Scala IDE.

It's complaining in the tests that it can't generate any picklers: tuples, Any, Arrays, Lists, Seqs, etc. I've looked in compiler and build path settings for possible relevant information but am drawing up a blank.

I've [read](http://stackoverflow.com/questions/10622213/scalamacr

[2015-04-10 18:31] phaller commented on #319
I just want to second @havocp. It's usually the best way to approach extending the macros.

[2015-04-10 20:37] oliviercooper opened #321 "eclipse/scalaide code completion very slow and timed-out with pickling on 2.11"
When using the following imports, code completion become very slow (for everything) and induce timeouts : "The extension took too long to return from the 'computeCompletionProposals()' operation". The IDE is then unusable.

[code]

Same behaviour with eclipse kepler (linux x64) with scala addins, and with scala ide 4.0 (linux x64), using "org.scala-lang.modules" %% "scala-pickling" % "0.10.0".

Fo

[2015-04-15 20:50] MasseGuillaume opened #322 "cannot pickle Map"
scala 2.11.6 and
"org.scala-lang.modules" %% "scala-pickling" % "0.10.0"

`Map(1 -> 1).pickle.value`

[code]

[2015-04-15 21:05] MasseGuillaume commented on #322
nvm, it's just missing scala pickling in the packaged jar

[2015-04-15 21:10] MasseGuillaume commented on #322
https://github.com/sbt/sbt-assembly/issues/151

[2015-04-15 23:33] dirkgr opened #323 "Pickling in parallel is slow"
When pickling a lot of small objects in parallel, I see a lot of contention on `internal.GRL`, especially in `functions.scala:29`.

[2015-04-16 05:38] heathermiller commented on #323
`GRL` is a global reflection lock because Scala reelection is unfortunately not threadsafe. We had to choose determinism and correctness over performance here.

What version of Scala and Scala Pickling are you using?

[2015-04-16 05:46] phaller commented on #323
To improve this situation on Scala 2.11.x and 2.12.x, the plan is to create a 2.11.x branch where this lock can be removed, since reflection is thread-safe on 2.11.x. Moreover, we could investigate ways to remove this lock also in "static-only" mode.

[2015-04-16 05:53] heathermiller commented on #323
Clarification: reflection is thread-safe on 2.11.x in the form of another global reflection lock. So Philipp's alternative 2 above would likely be the best bet, if you're sure that what you're trying to pickle can be statically serialized.

[2015-04-17 15:09] jsuereth commented on #323
Additionally, we're working on removing this lock in any place where reflection isn't used.  That should speed things up now.

[2015-04-18 12:12] terkhorn commented on #323
Hey @jsuereth, if you have any WIP for this, do you mind posting it? Just a curious party here :-D

[2015-04-22 22:20] cos opened #324 "Should this Set pickle-unpickle with val fail?"
[code]

[2015-04-23 20:20] simbo1905 opened #325 "pickling code crashes jdk 1.8.0_45 on my mac osx"
The gist at https://gist.github.com/simbo1905/facb9cef0e8ceabb3715 shows a cut down version of code which causes the jvm to crash on my mac with:

[code]

[2015-04-24 19:09] richard-jepps opened #326 "Pickling hangs scalac phase typer"
Using IntelliJ IDEA 14.1.2 and scala plugin 1.4.15 with scala 2.11.5:

[code]

The phase typer hangs while processing a class that pickles an object graph to JSON. I'm relying on automatically generated picklers. The object graph starts with a WrappedArray[UnsealedTrait] and the instances contain values of various types including Array[Any].

I'm using the latest code from Git (commit e7249135ab08

[2015-04-27 12:32] helena opened #327 "UUID values set to all zeros in unpicking, and custom case class byte arrays not what expected"
I have a Type 1 UUID in my case class. pickling is doing this to the value:

original: 51662fe0-ecd8-11e4-934d-290c46447b11
final uuid 00000000-0000-0000-0000-000000000000

[code]

What am I doing wrong?
version "0.10.0"
scala 2.10.5 and 2.11.5

Thanks

[2015-04-27 21:28] eed3si9n commented on #327
This is a known issue with 0.10.0 reported originally as #122 and fixed in #123, but have not been released yet. The general unpickle asymmetry problem still stands and it's been discussed more in #295 and #296.

@jsuereth, @havocp, we should release 0.10.1.

[2015-04-28 11:19] helena commented on #327
@eed3si9n @jsuereth @havocp  - Oh please release the next version if it does resolve the UUID issue. I need it for my Cassandra streaming solution, which I am hoping to release soon, but as it stands I had to back out my type-1 UUID (time-based UUID) id for each event due to this. I really want to keep using pickling for this solution:

https://datastax-oss.atlassian.net/browse/SPARKC-40
https://i

[2015-04-29 20:42] siddhartha-chandra commented on #43
Hi,
Please can you provide with an example of unpickling from a file. I have created a pickle file using the 0.9.x. branch (0.8-snapshot somehow fails for me) and using 'TextFileOutput' instead of 'BinaryFileEncodedOutput' (unable to figure out where this resides). Currently, I need help in unpickling from the saved file (the 'FilePickle' class that you mentioned; I'm unable to locate it). Please

[2015-04-30 07:23] trumanw commented on #43
Here is an example of unpickling from a file:

[code]

The source code is on my [gist](https://gist.github.com/TrumanWu/c56e257f0bbc9b1d8e6a)

[2015-04-30 16:49] siddhartha-chandra commented on #43
Thanks @TrumanWu ! Your response was vital in solving my issue and the example you gave couldn't have been more lucid. Now I am able to pickle to a file and unpickle from it :)

Though, there is one thing I would like to point out in the 'unpickleFrom' function.
I had to explicitly specify the 'codec' name while reading from the file. I think the default codec is different for different systems. S

[2015-05-01 16:47] cos commented on #324
Hi, sorry to bug you about this. It would be helpful if someone could at least have a look and let us know if this is a bug or we are trying to use pickling in the wrong way. The issue is a bit of a roadblock for us now. Thanks!

[2015-05-01 19:39] phaller commented on #324
Hi @cos, I'm having a look, and will post my findings when I know more.

[2015-05-01 19:58] phaller commented on #324
@cos: this is a bug, and I've tracked it down; no usage issue on your side. Trying to find a good bug fix.

[2015-05-04 04:53] retronym opened #329 "Hygiene, please"
I was just casually reviewing the pickler macro as I was referring someone to it as an example of a battle tested implementation.

I spotted a few bugs here:

https://github.com/scala/pickling/blob/v0.10.0-M4/core/src/main/scala/pickling/Macros.scala#L57-L59

The identifiers `FastTypeTag`, `scala`, `Unit`, `Any`, `String` should be fully qualified. I'd suggest to review other spots in the code for

[2015-05-04 05:48] retronym commented on #329
I've just submitted a patch to Play for the same sort of thing: https://github.com/playframework/playframework/pull/4369

[2015-05-04 12:54] jsuereth commented on #329
Thanks @retronym.  I was aware of a lot of hygiene issues we just didn't have time to fix before 0.10.0.  We'll try to prioritize soon.

[2015-05-05 15:03] oscar-broman opened #330 "Issue with Play's classloader"
When Play is running with hot reloating (`sbt run`), pickling can't load a very simple, sealed class.

[code]

The class is declared in another file as such:

[code]

[2015-05-05 15:52] oscar-broman commented on #330
The reason this happened was I did `streamPickle.unpickle[Any]` followed by pattern matching. It worked when it was used via the console or in production, but not during dev mode. Being explicit about what I want to unpickle works in all modes.

[2015-05-05 17:51] eed3si9n commented on #303
The original issue name "BinaryPickle - unpickling something that contains empty Maps fails" is stated as if this is a bug, but this is more of a feature request.

[code]

In the above, `x` is type inferenced to be `Map[String, Map[Nothing, Nothing]]`, and that's how it's pickled. What you're asking is a form of duck typing that not even Scala would do:

[code]

While I recognize the desire for du

[2015-05-05 18:04] eed3si9n commented on #304
We should delete the section on SNAPSHOT from the README.

[2015-05-05 18:16] eed3si9n commented on #310
I was able to reproduce this from REPL using 0.10.0:

[code]

[2015-05-05 18:17] phaller commented on #304
Actually, I found out why the SNAPSHOT is not published currently. It's a tiny bug in the Jenkins script. The (sub-) project names changed, but the Jenkins script was not updated. I'll fix it as soon as I get a chance.

[2015-05-05 19:02] eed3si9n commented on #321
Not sure what to do with this issue. I think it should be reported to Scala IDE instead.

[2015-05-05 19:02] #321 closed, assigned to nobody

[2015-05-05 19:03] eed3si9n commented on #322
If sbt-assembly is messing up the JAR, that's not pickling's problem. I'm closing this issue.

[2015-05-05 19:03] #322 closed, assigned to nobody

[2015-05-05 19:24] eed3si9n commented on #326
Without reproducible tests, it's hard to answer this. One thing you might try is try using it first Java 7 and without IntelliJ. Also I want to clarify that your pickler code compiled fine, and that you're seeing `OutOfMemoryError` while pickling some data.

We have seen `OutOfMemoryError` that I suspect is caused by Pickling too, and hopefully we can investigate more on it in the future.

[2015-05-05 19:30] eed3si9n commented on #330
@phaller, @heathermiller Is this a known behavior that can be solved by a stoke of a pen (or a membrane keyboard)?

[2015-05-05 19:35] #324 closed, assigned to phaller

[2015-05-05 19:37] eed3si9n opened #331 "a var in macro"
See #328

https://github.com/scala/pickling/pull/328#discussion_r29581739

[2015-05-05 22:56] cos commented on #324
Thank you, Philipp!

[2015-05-06 20:20] richard-jepps commented on #326
The OutOfMemoryError occurred after 20 hours. Despite the message the pickler code didn't finish compiling. The compiler continued running at between 600% and 800% of CPU (where 100% is one hyper thread running flat out) until I killed it.

I'll see if I get better results with Java 7 and post the result. Thank you.

[2015-05-06 21:00] vikasuy opened #332 "First unpickle is very slow"
I've noticed that the first unpickling is very slow, whereas subsequent ones are fast. This is an issue for us in production.

The following test code unpickles two objects and times them. The first object to be unpickled takes `100ms`; the second takes around `10ms`. This models an issue we are seeing in our production play project, where the first unpickle takes more than `1000ms` and all subseq

[2015-05-10 01:00] richard-jepps commented on #326
The code needed a few changes in order to compile and run on Java 7 from a shell script. These changes were: 1. remove dependencies on Java files in the project. 2. Increase the heap memory (8G was enough). 3. Solved runtime errors by removing the private modifier on two val members of a class to allow an Unpickler to be generated.

Incremental compilation via the IDE is reasonable after the first

[2015-05-15 08:53] Morgaroth commented on #299
How about version specific source directory? like in [@ExNexu project](https://github.com/ExNexu/spray-json-annotation/tree/master/src/main)
Sorry if it is stupid question xD

[2015-05-20 12:22] jsuereth commented on #332
Probably this is related to the initialization costs of the pickling state.   When doing benchmarks on the JVM, it's often helpful to pre-run code a couple times to allow JIT to optimize before running tests.

That said, boot-up time shouldn't be significantly high for pickling.   This is also an area of deep-magic when it comes to optimisation.   (Essentially just load less bytecode).

Are you mo

[2015-05-21 17:28] vikasuy commented on #332
@jsuereth I'm most concerned with startup time. In our production deployment, it slows down the latency on the first API request made to a server to a couple of seconds (whereas its only a few milliseconds otherwise).

In production, we see almost `1500ms` seconds of latency on the first unpickle (whereas the example I gave you above has `100ms` of latency in the worst case). And our code base is

[2015-05-21 20:01] jsuereth commented on #332
@vikasuy As a workaround, I would pickle something _during_ your boot-up/main method.  Just pickle it and then ignore it, as that should help speed up teh first "live" service call.

We can investigate performance in the meantime. Any hints you have, appreciated.

[2015-05-24 05:53] vikasuy commented on #332
Hi @jsuereth -- thanks for the help again. While we have a hack like this right now, it's not ideal and not something i'd like to build into each of our production services using pickling. Especially when pickling happens in an actor or a future, the future timeout becomes annoying to deal with. Would be great if a solution to the startup problem can be found.

[2015-05-26 10:59] richard-jepps commented on #326
The answer to my question seems to be "No, scala-pickling to JSON does not currently support your use case. You might have more success by writing custom picklers for the cases where the generated picklers fail."

[2015-05-26 10:59] #326 closed, assigned to nobody

[2015-05-27 00:04] helena commented on #327
Hi @eed3si9n and @jsuereth, any ideas on a release date with the UUID fix?

[2015-05-27 07:41] heathermiller commented on #327
Hi @helena – it appears it's already been released, but it seems we never updated the README or pinged you in this thread! Sorry.

http://search.maven.org/#artifactdetails%7Corg.scala-lang.modules%7Cscala-pickling_2.11%7C0.10.1%7Cjar

http://search.maven.org/#search%7Cga%7C1%7Cscala-pickling

Can you let us know if you still have this issue after trying 0.10.1?

[2015-05-27 12:01] helena commented on #327
@heathermiller thanks :) yes I didn't hit mvn repos, just checked the readme to see if it was released, thanks for the update! I'm psyched this made it in.

[2015-05-27 18:41] coreyauger commented on #164
I am receiving this error as well.

[code]

I am attempting to write a responder using the following syntax...

[code]

The add responder stores the method and deserializes to the type expected for the callback

[code]

Any idea why this is failing?  I am greatfull for any guidance you can provide :)

[2015-05-28 15:17] phaller commented on #304
I updated the jenkins scripts: https://github.com/scala/jenkins-scripts/pull/152

Thus, once #333 is merged, we can close this issue.

[2015-05-28 15:35] phaller commented on #304
https://oss.sonatype.org/content/repositories/snapshots/org/scala-lang/modules/scala-pickling_2.11/0.10.2-SNAPSHOT/

[2015-05-28 15:35] #304 closed, assigned to nobody

[2015-05-28 15:37] eed3si9n commented on #304
:+1:

[2015-06-02 16:25] dodnert commented on #327
I just updated my application - which is also having this problem - to version 0.10.1 and this problem does not seem to be resolved.

[2015-06-02 17:01] eed3si9n commented on #327
@helena Sorry I missed the message above. 0.10.1 is out.

@dodnert It works for me as follows:

[code]

Please open an issue if this doesn't work for you.

[2015-06-02 17:01] #327 closed, assigned to nobody

[2015-06-02 17:45] dodnert commented on #327
The issue I am seeing is that a `java.util.UUID` value is not pickled correctly if that value has been cast to a `scala.Any`. In my application, the value to be pickled is passed in to my application as an `Any` reference. Can this be made to work if the value is a `UUID`?

The code sequence below results in this output:
 {
   "$type": "java.util.UUID"
 }

[code]

[2015-06-02 17:56] dodnert opened #336 "Java UUID cast as a Scala Any does not pickle correctly"
The issue I am seeing is that a `java.util.UUID` value is not pickled correctly if that value has been cast to a `scala.Any`. In my application, the value to be pickled is passed in to my application as an `Any` reference. Can this be made to work if the value is a `UUID`?

A call to the `test` function below results in this output:
{
"$type": "java.util.UUID"
}

[code]

[2015-06-02 17:57] dodnert commented on #327
I've opened a new issue, #336 for the problem described in my previous comment.

[2015-06-02 22:38] helena commented on #327
I tested with both type-1 UUID for timestamps and regular and it works, for instance:

import java.util.UUID

import scala.pickling._
import scala.pickling.Defaults._
import scala.pickling.binary._

def serialize(uuid: UUID): Array[Byte] = uuid.pickle.value
def deserialize[A: Unpickler: FastTypeTag](data: Array[Byte]): A = data.unpickle[A]

 "uuid roundtrip" in {
      val expected = UUID.randomUU

[2015-06-08 04:36] reid-spencer opened #337 "Can't pickle simple case class?"
scala-pickling version 0.10.1 doesn't seem to be able to pickle a simple 3-member case class. So many unintelligible errors are produces that I figure it is "implementer only" stuff.  Note that I use the binary pickler below, but the same messages are received for the json pickler too.

I am trying this pretty much like this project's documentation shows.

Am I missing something obvious? Not suppo

[2015-06-08 14:10] phaller commented on #337
What you are seeing is output based on the `-Xlog-implicits` compiler option. These are not actual errors. They are only _internal_, intermediate errors occurring during type checking that a user does not see, unless `-Xlog-implicits` is enabled.

In fact, it looks like pickling completed successfully (`x` is a proper `BinaryPickle`). If you were to use the JSON pickle format you could more conven

[2015-06-08 14:14] reid-spencer commented on #337
Okay, that makes sense. I did turn on -Xlog-implicits to debug a similarly simple case class. I was wondering what that last line of output meant. Thanks for explaining.

[2015-06-08 14:14] #337 closed, assigned to nobody

[2015-06-08 14:15] MishaelRosenthal commented on #43
How would I go about doing the same for an Iterator (stream) of elements?
Namely, instead of writing an element or a sequence of elements, I want to write them from an iterator.
Then read them iteratively too?

I want to do so since I do not have enough memory to materialize them.

[2015-06-08 14:17] NAJ10 opened #338 "Cannot generate an unpickler for error at compile time dependent on filename of source"
I've produced a reproducible test case where an unpickler cannot be generated for a case class. Oddly this error only manifests itself depending on what the name of the scala source class is called. Problem discovered in scala-pickling 0.10.1, scala 2.11.6 and sbt 0.13.8.

Set up three scala files with specific names and contents as follows
`src/main/scala/s/s/a/NodeInfo.scala`:

[code]

`src/main

[2015-06-12 18:23] reid-spencer commented on #296
Another case important for me: java.net.URI. When compiling this:

[code]

I get:

[code]

Not a big deal to write a custom pickler, but I am wondering in the universe of classes just how many of these I would need to write. Speaking of which, is there a library of custom picklers for things? It seems like we would want to have a separate project with various jar files full of picklers for often u

[2015-06-12 18:36] eed3si9n commented on #296
@reid-spencer The error message "No fields are captured" that you got is something I added in #295.
It's not ideal, but at least the failed state is captured at compile time. The previous releases of Pickling would have happily generated a pickler/unpickler that loses data silently. It was a stopgap measure until the issue described in this issue is resolved.

I think @jsuereth is exploring the AS

[2015-06-12 18:52] reid-spencer commented on #296
@eed3si9n - Thanks for the explanation. Makes sense given the current state of the library.

I've seen the sbt serialization project and it is what gave me the idea that there ought to be some sort of plugin system to scala pickling so that we can build up libraries of hand-coded picklers that the macro generator can make use of when it comes across specific types. That is, the plugins would provi

[2015-06-12 19:10] reid-spencer commented on #63
@phaller - Looking at this example @yigit provided, It is curious that the scala.Tuple2 at the top level seems to work fine but the Tuple2 as the value of the Map does not. Just thought I'd mention it in case that's a clue to fixing this.

[2015-06-13 00:58] reid-spencer commented on #17
+1

[2015-06-15 03:39] ghost opened #339 "Value class problems"
I'm having a bit of trouble whenever I deal with value classes. I'm not sure if these should be classified as bugs, I'm doing something incorrectly, or if it's something not supported. Here are some of my observations with scala-pickling 0.10.1 and scala 2.11.6

I've only been using Scala Pickling a couple of days so I may be missing some understanding. I'd appreciate any clarification if possible

[2015-06-23 22:30] MasseGuillaume opened #341 "scalameta pickling"
given
https://github.com/MasseGuillaume/cats/commit/b5d25c3cd99b05b59df3ea0477d800319051285d

when
sbt ";core/compile;metadocCompilerPlugin/console"

pickling fails with:
fatal error: unpicklee cache is corrupted at 7

[2015-06-23 22:35] eed3si9n commented on #341
The error message is coming from https://github.com/scala/pickling/blob/v0.10.1_2.11/core/src/main/scala/scala/pickling/internal/package.scala#L152-L161 likely some issue in structure sharing.

[2015-06-24 01:06] lihaoyi opened #342 "Compiling picklers for simple data structures takes forever"
[code]

"several seconds" is ~4s on my 15" MBP and ~10s on my colleagues. Whatever you're doing at compile time, 4-10s is probably too much ^_^

EDIT: added the actual upickle error/compile-time, not the borked one

[2015-06-24 13:57] phaller commented on #341
@eed3si9n is right, it's an issue with structure sharing. You can try to disable structure sharing:

[code]

[2015-06-24 13:58] phaller commented on #341
For the next pickling release we should get scalameta pickling working.

[2015-06-24 14:01] MasseGuillaume commented on #341
@phaller If i disable structure sharing I get a stack overflow. I think this is because in the AST a node has a reference to his parent and vice versa. So there is a loop.

[2015-06-24 14:03] phaller commented on #341
@MasseGuillaume I see. Then, indeed, structure sharing is required. It would be helpful to have a smaller example that exposes this bug, though.

[2015-06-29 23:03] MasseGuillaume commented on #341
@phaller there you go: https://github.com/MasseGuillaume/scalameta-pickling-issue

[2015-06-30 19:59] rgwilton opened #343 "scalajs support"
Hi Heather,

Is scala/pickling supported in scala-js?  If not, then do you have any plans to add support please?

Many thanks,
Rob

[2015-07-01 10:39] filosganga opened #344 "Check if a FastTypeTag is a collection"
Hi,
I am working on a more natural Json serialization format. I need to know if a given FastTypeTag is subclass of specific class/trait (Like scala.Seq). Is it possible to do with FastTypeTag? Is it possible to make it static?

Thanks

[2015-07-01 13:50] phaller commented on #341
@MasseGuillaume Great, thanks! I'll have a look at it.

[2015-07-01 13:58] phaller commented on #343
There is no Scala.js support, yet. We do have plans to add support, though. There were already several refactorings done in order to cleanly separate out parts depending on runtime reflection (not supported on Scala.js). In addition, we have the static-only switch for generating reflection-free picklers. Both of these things should help get Scala.js support in place soon.

[2015-07-01 14:02] rgwilton commented on #343
Thanks for the update.

[2015-07-02 15:20] helena opened #345 "java.nio.ByteBuffer pickle/unpickle question"
I am working with something where input values are ByteBuffers, and when I test
val in: ByteBuffer

val ser = in.pickle
val des = ser.unpickle[ByteBuffer]

I consistently get
in = java.nio.HeapByteBuffer[pos=0 lim=4 cap=4]
out = java.nio.HeapByteBuffer[pos=0 lim=0 cap=0]

Wondering what I am doing wrong?
I'm seeing if I can use pickling in akka serialization for a custom serializer vs java or kryo

[2015-07-02 15:50] phaller commented on #345
Hi Helena, I'm not sure I understand, aren't these ByteBuffers already the serialized representations? (You can also get their contents as byte arrays.)

In any event, pickling to and from ByteBuffers works as follows:

[code]

This is also shown in [core/src/test/scala/pickling/run/bytebuffers.scala](https://github.com/scala/pickling/blob/0.10.x/core/src/test/scala/pickling/run/bytebuffers.scala)

[2015-07-02 16:25] phaller commented on #341
@MasseGuillaume I'm running into issues building the `meta` project (`plugin` builds fine):

[code]

Any hints how to resolve this?

[2015-07-02 16:30] MasseGuillaume commented on #341
@xeno-by ping
@phaller
delete your ivy cache `rm -rf ~/.ivy2/cache/org.scalameta/`
and  `publishLocal` [scalameta projects](https://github.com/scalameta) in the following order:
1. scalameta
2. interpreter
3. scalahost

[2015-07-02 16:31] phaller commented on #341
OK, perfect, thanks!

[2015-07-02 16:34] helena commented on #345
@phaller thanks for your feedback. This is for usage (if this works) for a custom Akka Serializer using pickling, and their trait requires the to/from Array[Byte] for remote send/receive.

So for instance I am sending custom events like MyEvent(...primitive types then: Iterable[ByteBuffer])
those BBs are part of what akka then transforms to: MyEvent =>  Array[Byte]

I'm just trying to see if this

[2015-07-02 16:53] helena commented on #345
Always throwing a java.nio.BufferUnderflowException. I'd done my work based off that test code in
bytebuffers.scala, so nothing different there but still looking..

[2015-07-02 16:57] phaller commented on #345
@helena OK, I understand now- thanks for clarifying.

In this case, I think the best thing to do would be to create a custom pickler for ByteBuffer. In fact, we should add this pickler to the set of default supported types.

However, to create a _performant_ Akka Serializer (meaning: one that uses reflection-free compile-time-generated picklers) it'll be necessary in Akka-using code to _explicitly

[2015-07-02 17:03] phaller commented on #345
I just realized I didn't fully explain why this registration is required. ;-) The issue is that in the Akka serializer you'd want to do:

[code]

Since we're only providing `Any` as target type, normally Pickling would fall back to using a generic unpickler based on runtime reflection. However, if a specialized pickler is found in `GlobalRegistry` it is used instead. We'd probably want to use spec

[2015-07-02 17:22] phaller commented on #345
About the custom ByteBuffer pickler: I noticed there are still no proper docs on custom picklers/unpicklers, so you'd have to look at some of the tests for now.

[2015-07-02 20:26] jsuereth commented on #345
@helena Can you show us the line of code where the underflow is thrown?  That only happens if the position in the buffer is AFTER the length of the buffer, which sounds like a logic error somewhere.

[2015-07-02 20:34] helena commented on #345
Reflection-free compile-time-generated picklers is ideal :) I'm trying with the GlobalRegistry..

What I have been doing thus far, from the docs, is something like:

      object Serialization {

         val protocol = new pickler.PrimitivePicklers with pickler.RefPicklers {
            implicit val channelPickler = PicklerUnpickler.generate[Channel]
            implicit val aggregatePickler = Pi

[2015-07-02 20:40] jsuereth commented on #345
@helena is it the deserialize that thorws the exception or the serialize?

Also, FYI - I found an odd issue where FIRST PICKLE is really slow, and subsequent are snappy.  (i.e. we had what looks like an order of magnitude slowdown on first pickle when we pushed for more static-safety), which I think comes from init times of the various caches.   If performance matters, I'd recommend serializing so

[2015-07-02 20:49] helena commented on #345
Right now I'm isolating this particular issue in a test:

[code]

If I specify unpickle[ByteBuffer]:
java.lang.ClassCastException: scala.pickling.binary.BinaryInputPickle cannot be cast to java.nio.ByteBuffer

If I specify unpickle[Any] or AnyRef, the deserialized type is BinaryInputPickle(scala.pickling.binary.ByteBufferInput@4845fecf)

[2015-07-02 20:52] helena commented on #345
@jsuereth the order of magnitude slower on first pickle sounds typical for things like this, followed by rapid speed up - but that's good to know since I want to prove this is the way to go with some metrics for the critical read/write path :) So I'll add that static initializer, great tip!

[2015-07-02 21:11] phaller commented on #345
@helena @jsuereth I just noticed one issue in your last snippet: create the `BinaryPickle` only for unpickling, it's not supposed to be pickled:

[code]

[2015-07-02 21:14] helena commented on #345
Ah that's what's messing up the return type, thanks :)

[2015-07-02 21:14] phaller commented on #345
I'll try to put this custom ByteBuffer pickler together tomorrow morning. Have to get going for today, though.

[2015-07-02 21:15] helena commented on #345
@phaller Thanks for your help :)

[2015-07-02 21:16] phaller commented on #345
@helena Sure, no worries :-)

[2015-07-02 22:26] jsuereth commented on #345
Thanks @phaller !

[2015-07-03 08:25] phaller commented on #345
Here is a gist with an initial ByteBuffer pickler:
https://gist.github.com/phaller/9ba933efe826a78809b8
The most important remaining issue is that `pickle` does not handle the case when `picklee.hasArray` is `false`. There is also room for optimization. Mainly showing the principle here. :-)

[2015-07-03 09:22] xeno-by commented on #341
@MasseGuillaume should work now, but I really have no clue how to fix it in the long run unless sbt changes the way they handle compiler plugins.

[2015-07-03 12:44] helena commented on #345
Thanks @phaller, I tried writing one yesterday but it wasn't working yet :) Also with mine, which is a bit different than yours, I started getting OOMs running the one test. This may have been related to my code and how I had added it but I'd basically done:

[code]

[2015-07-03 14:55] phaller commented on #345
@helena Yeah, that's basically it (modulo the ByteBuffer pickler).

[2015-07-03 15:16] phaller commented on #341
@MasseGuillaume I can build and run the compiler plugin now, but I couldn't reproduce the bug, yet, unfortunately. I'll keep looking.

[2015-07-03 15:18] MasseGuillaume commented on #341
@phaller if you need help we can do a Google Hangout. You can send and chat invite to masgui@gmail.com.

[2015-07-03 15:20] phaller commented on #341
@MasseGuillaume OK, sounds good!

[2015-07-03 15:34] MasseGuillaume commented on #341
`meta/test`

[2015-07-07 01:43] helena commented on #345
I can't find access a version with AbstractPicklerUnpickler in your sample via sonatype snapshots
https://oss.sonatype.org/content/repositories/snapshots/org/scala-lang/scala-pickling_2.11/ only has 0.9.2 snapshot and that abstract pickler/unpickler is 0.10.2-SNAPSHOT :(

@jsuereth will you guys be publishing the latest snapshot?
and any ETA for 0.10.2 release?

Thanks !

[2015-07-07 09:44] phaller commented on #345
Hi @helena, I've updated the gist so that it works with 0.10.1. (Basically, I just replaced `AbstractPicklerUnpickler[ByteBuffer]` with `Pickler[ByteBuffer] with Unpickler[ByteBuffer]`.) No need to use 0.10.2-SNAPSHOT.

[2015-07-08 14:41] backuitist opened #346 "Pickling List(1,2,3) into JSON should produce a JSON array"
I've just ran the following snippet from the documentation:

[code]

Which produces

[code]

What the hell?

Even worse:

[code]

Gives me a `java.lang.StackOverflowError`

[2015-07-08 20:26] eed3si9n commented on #346
Scala pickling's default JSON format prioritizes keeping the type info around and runtime performance.
If you want prettier JSON format, checkout sbt's serialization that's built on top of Pickling - https://github.com/sbt/serialization

[2015-07-08 20:26] #346 closed, assigned to nobody

[2015-07-09 06:13] backuitist commented on #346
I can't see how this has a better runtime performance than `[1,2,3]`? Plus as you might have skipped the bottom of the issue `(1 to 1000).toList.pickle` performs so badly that it gives up in a StackOverflowError.

Now back to the type info, you're point is that this representation allows one to unpickle Any and be sure to get a List[Int], and not, say a Vector[Int]?

Having to resort to a third pa

[2015-07-10 03:45] helena commented on #345
@phaller  Thanks, working perfectly so far :)

[2015-07-11 17:00] mklew opened #347 "Unpickle java.lang.Class fails with IllegalAccessException"
I've created [test that illustrates issue](https://github.com/mklew/scala-pickling-bug/blob/master/src/test/scala/PicklingBugTest.scala).

In short

[code]

It fails like:

If this is expected behaviour then just let me know.

Why do I want pickle Class object? Because I've been thinking about serializing akka.actor.Props (which has java.lang.Class of actor) in order to recreate actor at some poin

[2015-07-17 10:28] mikkka opened #348 "Tuple2 pickling"
pickle version 0.10.1

scala.pickling.PicklingException: Class class scala.Tuple2$mcII$sp not recognized by pickler, looking for one of: scala.Tuple2[scala.Int,scala.Int]
  at ScalaTuple2$u005BscalaInt$u002CscalaInt$u005DPickler$macro$22$2$.pickle(<console>:29)
  at ScalaTuple2$u005BscalaInt$u002CscalaInt$u005DPickler$macro$22$2$.pickle(<console>:29)
  at scala.pickling.functions$.pickleInto(funct

[2015-07-17 10:30] mikkka commented on #348
res1: (Int, Int) = (9,1935892844)

[2015-07-17 13:57] jsuereth commented on #348
Looks to be an issue with specialization.  Thanks for the report!

[2015-07-17 13:59] jsuereth commented on #347
I think you'll need to create a custom serializer for `Class` and then register it.  You're trying to use our reflective knowledge of class, and it's actually not possible for that to work.   Instead of bombing like this, it should just give you a legit error message.

In any case, you should be able to create your own and register it with the dynamic pickling registery to use with Akka.

[2015-07-17 14:00] jsuereth commented on #345
Should I mark this as resolved?

ETA for 0.10.2 is 'soon'.  I'd like to take a crack at some better warnings when `safe` staticly generated picklers are impossible (see my branch using ASM).

[2015-07-17 14:01] jsuereth commented on #344
What do you mean make it static?

Also, if it helps, sbt has a JSON serialization format that we quite like, based on the JAWN parser and json4s.  Feel free to take a look/use for guidance: https://github.com/sbt/serialization

[2015-07-17 14:05] phaller commented on #345
I suppose shipping a pickler for `java.nio.ByteBuffer` out-of-the-box would be good. As explained, the code in my above gist is not complete, though.

[2015-07-17 18:37] MasseGuillaume commented on #341
@phaller any updates ?

[2015-07-17 19:36] dodnert commented on #17
+1

[2015-07-19 12:45] mikkka commented on #348
Yes, it's problem with specialization

[2015-07-20 18:47] danoctavian commented on #17
+9000

[2015-07-21 20:20] jewer commented on #17
9000?! There's no way that can be right! It can't!

But, seriously, +1.

[2015-07-22 18:51] phaller commented on #341
@MasseGuillaume sorry, I had to context-switch to other things. However, I found out that it was trying to use the runtime pickler/unpickler which caused issues. I think we need to try to have picklers generated systematically for _all_ involved classes. If picklers cannot be generated via the `Pickler.generate` macro, try custom picklers.

[2015-07-23 15:30] phaller opened #349 "Cannot generate picklers for nested objects"
Example:

[code]

[2015-07-27 03:25] retronym commented on #329
Fixed by #340

[2015-07-27 03:25] #329 closed, assigned to nobody

[2015-07-27 16:20] raam86 commented on #98
regarding binary, I have wasted quite a bit of time on this library and wanted to give up. However since like the rest of you I  see the benefit in it I marched on.

The documentation is sparse because seemingly none is needed.
_You probably don't have to write custom anything._

The wording of the official site leave a lot to be desired so here's my take on things.

If pickling doesn't manage to

[2015-07-27 17:48] raam86 opened #350 "Pickling will generate pickler sometimes"
I ran into an issue where I run code and a pickler is generated.
after changing unrelated piece of code in the same project will break the build saying

[code]

(e is an instance of Event)

changing in code `e.pickle` to `e.picklee.pickle` will compile again.

I tried reproducing with a simple case but to no avail.

running  -Xlog-implicits
didn't show any meaningful error (to me)

[code]

I am co

[2015-07-27 19:31] fuwaneko commented on #98
@raam86 I have long since switched to Jackson/Protobuf. I actually dislike "idiomatic" Scala libraries nowadays, they usually have little to no documentation and it's totally a black magic inside which is hard to understand and modify.

[2015-07-28 12:58] jsuereth commented on #350
There is a chance that is why it's occuring.

Pickling has some known issues with visibility of classes in the compiler.  Sometimes the macros will fail because during incrmeental compilation not all the subclasses are loaded, e.g.   We have some workaround to fix it, but it may be easier to diagnose if you can show us what `Event` looks like (hierarchy).

[2015-07-28 13:00] jsuereth commented on #345
@phaller Should we retitle this?  Is it a bug/enhancement?

@helena Is your issue resolved?

[2015-07-28 13:03] jsuereth commented on #344
Oh, also to help answer the question about whether you can staticall know if something is a scala.Seq, the answer is "only from one half".

The FastTypeTag is something that is serialized.  It's meant to act as a hash, of sorts, for the type.  We use a full string here, but you could imagine instead using a number.   THe idea is that when we serialize a known type over the wire, we can get this ta

[2015-07-28 13:05] filosganga commented on #344
Hi Josh,
I see now, thanks for the help.

On 28 July 2015 at 14:03, Josh Suereth notifications@github.com wrote:

##

[image: --]
Filippo De Luca
[image: http://]about.me/FilippoDeLuca
http://about.me/FilippoDeLuca?promo=email_sig

[2015-07-28 13:16] raam86 commented on #350
[code]

[2015-07-28 13:16] #350 closed, assigned to nobody

[2015-07-28 22:08] chaorace commented on #17
+1

[2015-07-29 07:14] phaller commented on #345
@jsuereth I'd say it's an enhancement. At some point we should include a pickler/unpickler for `ByteBuffer`.

[2015-07-29 15:22] myio561 opened #351 "Unpickle serialized value from some previous process"
Every example I have read starts with pickling some arbitrary object, then using the value returned by pickling method to unpickle that object. I don’t understand how to make my code on startup unpickle some serialized value created at some previous time where I don’t have a reference to the pickle object returned by the serialization method.

Can you point me in the right direction?

[2015-07-29 15:57] phaller commented on #351
@myio561:
For that you need to create a `Pickle` first, for example, a `BinaryPickle` based on a byte array or `ByteBuffer`, or a `JSONPickle`. Some relevant definitions:

[code]

For binary:

[code]

To unpickle, you can simply call `p.unpickle[ExpectedType]` where `p` is such a pickle.

[2015-07-29 17:29] raam86 commented on #351
You don't need a reference for the pickle object you just need a reference for the class of the object.

You can simply myObject.unpickle[MyObjectType].
Make sure you have pickling in scope

[2015-07-29 21:04] myio561 commented on #351
I must be missing a step somewhere. I tried:

[code]

When I run I get the error below on the line `p.unpickle` is called:

[code]

When I debug, I found that inside `JSONPickleFormat.beginEntry` the `fields` member is **NULL** this is why the match fails.

[2015-07-30 12:47] andrewslack opened #352 "Case Class + single integer field yields "hasMatchingSymbol reported error""
I am attempting a simple exercise from the console.  I presume I am doing something stupid but there is very little that could go wrong, please advise:

scala> import scala.pickling.Defaults._, scala.pickling.json._
import scala.pickling.Defaults._
import scala.pickling.json._

scala> case class Person(id: Integer)
defined class Person

scala> Person(100)
res2: Person = Person(100)

scala> Person(

[2015-07-30 13:08] phaller commented on #352
The issue is the use of Java's `Integer` instead of `Int`.

[2015-07-30 13:15] andrewslack commented on #352
Sheesh, really.  Thanks!

[2015-07-30 14:01] myio561 commented on #351
I noticed the debug output from Pickle embeds type hints. I added those to my initialization and that fixed the exception in the previous post.

[code]

However, my pickles are not persisted between sessions. Do I need to do something more like specify a path where pickles should be stored? When I test by initializing/creating the JSONPickle object above:

[code]

`features` contains only the samp

[2015-07-30 14:09] jsuereth commented on #352
We should probably have picklers for the "big" java versions of primitives.  CLosing this as resolved for now, open an enhancement if you want the java picklers out of the box.

[2015-07-30 14:09] #352 closed, assigned to nobody

[2015-07-30 17:43] vikasuy commented on #332
Hi @jsuereth -- wanted to let you know this problem is getting worse for us. Its now taking more than 2 seconds for the first unpickle in our code. I'm not sure what's caused the increase, but our code base has gotten bigger.

We are leveraging the warm-up like you mentioned, but at this rate we will likely switch to custom serialization so that we don't incur this performance problem.

Thanks for

[2015-07-31 08:57] phaller opened #354 "Scala.js Status"
Development branch:
https://github.com/phaller/pickling/tree/topic/js

[2015-07-31 11:50] andreaTP commented on #354
I'll try to summarise here thoughts on this topic:

What is needed to keep pickling working seamlessly in the scala.js world we will need:
1- a compiler plugin to substitute java `Serializable` interface to a custom `JSSerializable` and to mark classes that needs to be pickled.
2- a macro to generate real picklers/unpicklers that will rely on stubbed methods for accessing and modifying private fie

[2015-08-03 13:57] phaller opened #355 "Cannot generate pickler inside expression passed to macro"
The following example fails to compile:

[code]

The error message is:

[code]

Note that `SimpleMacro.expandFun` is a very simple macro that creates a new class extending `Function0[R]`:

[code]

The error goes away when commenting out `SimpleMacro.expandFun` in the first listing.

Furthermore, the error goes away when turning the `lazy val tpe` at [FastTags.scala:274](https://github.com/scala/pi

[2015-08-04 01:41] retronym commented on #355
`untypecheck` is your problem here, probably as the known issue https://issues.scala-lang.org/browse/SI-5466 ("typechecking lazy vals is not idempotent")

`SimpleMacro` might be able to workaround the problem with:

[code]

To widen the type of the macro expansion so that it doesn't refer to a symbol local to the expansion.

See also: https://github.com/milessabin/shapeless/pull/429 for a similar

[2015-08-04 18:24] jsuereth commented on #354
@phaller Hey, we may be stepping on each other here.  I actually have a branch I'd like you to look at where I completely redo the backend of pickling, and I'm working on a new mechanism for the macro-code-generators:

New backend - https://github.com/scala/pickling/tree/wip/new-macro-implementation/core/src/main/scala/scala/pickling/spi

New Macros - https://github.com/scala/pickling/tree/wip/new

[2015-08-04 19:29] phaller commented on #354
@jsuereth Hey Josh, syncing up sounds great. I'll be in transit/busy tomorrow, but after that we could also schedule a call.

My motivation for this branch is Scala.js support, obviously, but I did discover a few improvements that would be useful in general. In particular, I think we can simplify `FastTypeTag` significantly, and get rid of its dependency on run-time reflection completely (essentia

[2015-08-04 19:38] phaller commented on #354
@jsuereth Btw, my proposal for the new `FastTypeTag` is called [StaticTypeTag](https://github.com/phaller/pickling/blob/topic/js/core-js/src/main/scala/scala/pickling/StaticTypeTag.scala) on my [topic/js](https://github.com/phaller/pickling/tree/topic/js) branch. No particular reason for renaming it. In fact, I was about to add a commit which renames it back to `FastTypeTag`, so that the `topic/js

[2015-08-04 19:46] phaller commented on #355
Thanks a lot, @retronym, for your prompt diagnosis!

[2015-08-06 13:08] ghost opened #356 "Pickling Hashmap to json results in blank output"
Hi,

I'm trying to pickle a hashmap to a file. I used [this](https://github.com/scala/pickling/issues/43#issuecomment-97692337) as a starting point and came up with the following code:

[code]

The output I get is the following:

[code]

I suspect I'm doing something wrong rather than this being a bug, but I can't be certain as I couldn't find many examples on Google. I'd appreciate any hints. The

[2015-08-06 14:44] calumats commented on #356
I found the source of my problem. This issue can be deleted.

[2015-08-07 14:11] jsuereth commented on #356
I believe this may be related tot he bug I'm currently working on (and is pretty intense).  Basically:
1. the traversable pickler genreators are not getting fired because we have some implicit conflicts in our pickling cake. (cc> @eed3si9n )
2. The default picklers have issues when symbols for private members are not available in the macro.   This can help quite more frequently than expected, addi

[2015-08-07 14:17] jsuereth commented on #354
@phaller The new FastTypeTag sounds GREAT.  I'd love to see those changes.  My changes also require a 0.11.x because of breaking some semantics with past macro generated pickler/unpicklers.

In any case, I'm on G+ and gitter, ping me when you have time.  Would love to catch up.

[2015-08-08 20:42] jsuereth commented on #296
Note:  #357 is meant to give us the means to solve the issues with Java classes.   Also, please take a look at the ability to provide your own pickling runtime.  I'd like to discuss/improve how we can register runtime picklers (not autogenreated code, but just a runtime pickler registry lookup for statically-generated picklers).

In any case, I hope to move this bug into the solved category after

[2015-08-08 23:00] jsuereth opened #358 "`hintOid` should just be a hint, pickle format should be able to decide whether or not to share."
Currently, `hintOid` gives the pickler carte blank approval to not pickle any fields (and just say `beginEntry`/`endEntry`).  This leads to an issue where `sharing` may not be supported on a given format, and the pickle format just breaks.
## Instead: Optional object id sharing
1. `hintOid` should JUST be a hint
2. A `PickleFormat` which support `Refs` and `oid` hints should manually elide the obj

[2015-08-08 23:05] jsuereth opened #359 "`hintTag` should be optional, or not a `hint`"
Currently, all picklers/unpicklers are required to `hintTag`.   Additonally, they can `hintStaticallyElided` and other such 'fun'.

While we _do_ need `tag` support built in to handle subclassing/enum-like picklers, we should adjust how we handle tagging/eliding so that people know the tag is not optional.

My proposal:
1. `PBuilder.beginEntry` is updated to be:
    `def beginEntry(picklee: Any, t

[2015-08-08 23:06] elm- opened #360 "Unable to pickle List[T], e.g. List[String] when running `staticOnly`"
I'm trying to pickle a more complex case class, (nested over 4 levels with Map's, List's and Case Objects based types). When using dynamic pickling the compilation fails with an out of memory error after several minutes, even with 8GB of memory. I used the static pickler to figure out where it fails, the problem are List types in the case classes. Therefore I tried to pickle a simple List[String],

[2015-08-08 23:19] jsuereth commented on #360
@elm- I may have just ran into that.  My current (massive) PR to teh 0.11.x branch includes a ListPickler.

You can (and should) do this in the meantime: https://github.com/scala/pickling/blob/wip/new-macro-implementation/core/src/main/scala/scala/pickling/pickler/Iterable.scala#L14-L15

[2015-08-08 23:34] eed3si9n commented on #359
What about `PickleContext` as the new name? We just need a name which we push/pop/pin etc. and that stuff has has-a relationship with `FastTypeTag` and `size: Int`?

[2015-08-09 12:58] jsuereth commented on #359
The new name of what?   Hints are defined directly on the PBuilder/PReader.

Additionally, the thing which `hintElidedType` is NOT the thing which does the pickling/unpickling, it's generally the container.

e.g. `case class Foo(x: Int, y: Bar)` the pickler for `Foo` would be the one who provides the elide hints before pickling `x`.   The raw `x` pickler actually needs to emit the type tag because

[2015-08-09 13:29] jsuereth commented on #359
So I attached an implementation.  Surprisingly easy to accomplish, which I think means it's the right direction for simplification.

[2015-08-09 17:44] jsuereth commented on #312
https://github.com/scala/pickling/wiki/Writing-custom-Picklers-Unpicklers

[2015-08-09 18:53] jsuereth commented on #98
@raam86 Please see a few of my branches incoming on fixes to the macros to help with the opaque nature that was there before.

ALSO, I was finally qualified to write this: https://github.com/scala/pickling/wiki/Writing-custom-Picklers-Unpicklers

That should help dramatically in writing custom picklers/unpicklers.  I'll continue to provide docs and cleanups.  If we can get the new macros into 0.11

[2015-08-09 18:54] raam86 commented on #98
Thank you. Thats some really
Great stuff

On Sunday, August 9, 2015, Josh Suereth notifications@github.com wrote:

[2015-08-09 18:57] jsuereth commented on #319
just an FYI -

I think this may remain a problem with picklers and type-constructor based types.  We not want to generate N picklers/unpicklers when there are `N` types used with a `F[_]`, and the macros are hardcoded, currently, to only deal with fully concrete types.

SO, we should:
1. Provide an Either implementation out of the box.
2. Figure out some better mechanism of handling type construct

[2015-08-09 19:01] jsuereth commented on #341
@MasseGuillaume I just finsihed a custom pickler tutorial, if you need: https://github.com/scala/pickling/wiki/Writing-custom-Picklers-Unpicklers

Let me know if you need any help getting scala-meta compiled using picklers.

[2015-08-09 19:05] jsuereth commented on #61
@maqdev I really like your proposal.  Would you be interested in trying to put more effort behind it for a 0.11.x release?   I'm curious what else would have to be done to make this a reality.

[2015-08-09 19:05] jsuereth commented on #8
Hey @heathermiller / @phaller is there anything specifically we have to do for this?  I think we can close this on our end, and add a serializer to, e.g. akka-contrib.

[2015-08-09 22:07] eed3si9n commented on #359
`PickleContext` represents a data structure of stuff that gets hinted by outer builder/reader via `Hintable`.
Eliding (or not eliding) should a decision given to each format, not the pickler. For example, for growable JSON, I don't want to include type tag into all JSON object. If you're building a fast binary format, and don't care about growability you could pack your binary with `Int` and `Bar`

[2015-08-09 22:50] MasseGuillaume commented on #341
@jsuereth thanks I will try this approach ;-)

[2015-08-10 00:08] jsuereth commented on #359
@eed3si9n That's actually a different matter entirely, and you should open a ticket about that.

I think a lot of things fall apart if we try to make tags optional everywhere.   What I'm trying to do is dramtically improve the elide situation, while I continue thinking of ways to make tag completely optional by-format.   Would most likely require `beginEntry` in PReader to also take in an `expecte

[2015-08-10 10:06] ghost commented on #356
Ah ok, thanks for getting back to me. I've just switched to using List for now since it works, but I'll keep an eye out for 0.11.x :)

[2015-08-10 11:23] raam86 opened #361 "java.lang.NegativeArraySizeException when size is well over 0"
code:

[code]

output:
(unpickling event from array with size:,24544)
15/08/10 14:17:48 ERROR Executor: Exception in task 0.0 in stage 3.0 (TID 3)
java.lang.NegativeArraySizeException
    at scala.reflect.ManifestFactory$$anon$6.newArray(Manifest.scala:93)
    at scala.reflect.ManifestFactory$$anon$6.newArray(Manifest.scala:91)
    at scala.Array$.ofDim(Array.scala:218)
    at scala.pickling.binar

[2015-08-10 12:21] raam86 commented on #361
Sorry. I misunderstood

[2015-08-10 12:21] #361 closed, assigned to nobody

[2015-08-11 16:47] eed3si9n opened #364 "List of nobs"
Now that the new code base is landed, could we list out the list of nobs that can be tweaked beyond "share nothing" and "static only"? Some of them are tweaked by the format author, the pickler author, while others may be tweaked by the end user.
1. Choice of "algorithms"
   - If the IRFields are calculated strictly based on static knowledge or not
2. Behavior when static pickler/unpickler is not

[2015-08-12 17:42] jsuereth commented on #359
Fixed by #362

[2015-08-12 17:42] #359 closed, assigned to jsuereth

[2015-08-12 17:47] jsuereth commented on #348
Fixed on 0.11.x branch (with new macros):

[code]

[2015-08-12 17:47] #348 closed, assigned to nobody

[2015-08-12 17:50] jsuereth commented on #336
Note:  This is related to a  series of java pickling issues.  Essentially, most of the field information for java types is erased at compile time by the scala compiler (as it doesn't need that) so the pickling algorithms are broken.  In 0.11.x we've disabled generating arbitrary java picklers until we have a new mechanism of handling them.

[2015-08-12 17:52] jsuereth commented on #330
This is a general issue with all serialization frameworks that use any form of runtime reflection in the presence of classloaders (e.g. ObjectInputStream).   What you have to do is set the `currentMirror` in the `internal` package of pickling to the appropriate one so pickling can find your classes.  Otherwise, pickling assumes System classloader (or current thread context classloader) which is pr

[2015-08-12 17:53] jsuereth commented on #330
Also, the 0.11.x branch should be removing the need for reflection on pickling tags, whcih MAY help solve your issue if you can compile with `staticOnly` imported.

[2015-08-12 19:00] jsuereth commented on #339
This is actually a bug in scala-reflection I just discovered.   The code you list works in 0.11.x branch now since we use the new `scala.pickling.internal.Reflect` method to find private members.

Basically previously, scala-reflection _fails_ to correctly discover private val/vars.  I'm not sure how you hit this bug, but I just ran a test against master (with the new macros/reflection) and it all

[2015-08-12 19:00] #339 closed, assigned to nobody

[2015-08-12 19:06] jsuereth commented on #338
@NAJ10 What you've found is actually the issue we have with the order in which the compiler reads source-files AND the ability of pickling to find known subclasses.   I just ran a quick test locally.   If you use the `@directSubclasses` annotation you should be able to avoid this scenario by forcing the compiler to load the subclass symbols for NodeInfo when it's generating the pickler in `N.scala

[2015-08-12 19:06] #338 closed, assigned to nobody

[2015-08-12 19:10] jsuereth commented on #319
Ok, so also in 0.11.x branch, we cannot generate an `Either` pickler statically BECAUSE `Left`/`Right` are not marked final, and could be extended at runtime.  I think I'll just add an `Either` pickler to the set of picklers.

[2015-08-12 19:51] jsuereth commented on #358
Fixed in 0.11.x

[2015-08-12 19:51] #358 closed, assigned to nobody

[2015-08-12 19:52] jsuereth commented on #312
Docs are now in 0.11.x branch.

[2015-08-12 19:52] #312 closed, assigned to nobody

[2015-08-12 19:55] jsuereth commented on #323
@terkhorn Check out the 0.11.x branch, specifically: https://github.com/scala/pickling/blob/0.11.x/core/src/main/scala/scala/pickling/spi/PicklingRuntime.scala

Sorry it took so long to get to this.  In any case, The next TODOs in 0.11.x are:
1. to make GRL be a pure interface, rather than a specific thing.
2. Instantiate the GRL to a `null` lock so that there is no locking/contention in 2.11.x

A

[2015-08-12 19:57] jsuereth commented on #311
@sschaef Two things:
1. hintTag is no longer option, and is now included in `beginEntry` for a pickler.  That should help solve the first issue.
2. push/pop hints may need some lovin/fixing soon.  Would like to suggestions on how to fix.

[2015-08-12 20:00] jsuereth commented on #313
@sschaef That implementation suffers the same limitations as us, due to scala compiler bug.  AFAIK we DO try to do the same thing in terms of discovering subclasses.  The issue is subclass discovery is compeltely dependent on compilation order (has the compiler seen the subclasses yet) and is therefore super flaky.

Unless we get a new solutiong from scalac (which is unlikely, it's not a use case

[2015-08-12 20:00] #313 closed, assigned to nobody

[2015-08-12 21:04] ghost commented on #339
Great news! Thanks for the update.

[2015-08-13 12:45] jsuereth commented on #41
@mateuszdraco FYI - I think you only need to import `json._` at the Barrel implementation site.  IN any case, We are actively doing this in sbt-serialization, see: https://github.com/sbt/serialization/blob/master/serialization/src/main/scala/sbt/serialization/SerializedValue.scala#L23

Going to close this for now, please re-open if you see issues on master.

[2015-08-13 12:45] #41 closed

[2015-08-13 12:56] jsuereth commented on #109
This appears to be a bug with the `shareing` aspects of pickling.  Closing as duplicate of #260 which has a minimal reproduction.

[2015-08-13 12:56] #109 closed

[2015-08-13 13:01] jsuereth commented on #240
This appears to be fixed in master, and was most likely a bug in the generated code not mirroring the `shareOid` information in pickler/unpickler.

[2015-08-13 13:01] #240 closed

[2015-08-13 16:04] tobnee opened #366 "Unpickle case object to AnyRef does not work as expected"
It seems that the reflection that is needed for unpickling to AnyRef will create a new instance of the case object, which gives us two singletons of the same type:

[code]

[2015-08-13 16:12] jsuereth commented on #32
@phaller I just pushed a brancht hat has a FastTypeTag provided pickler (works with runtime pickling too).  I'll add some tests and get it into 0.11.x.  cc @emchristiansen

[2015-08-13 19:46] jsuereth commented on #34
You could probably implement this with your own custom pickle format if you desired. I don't see us changing the included JSON implementation for this, but I'd see it as a simple extension if you'd like to implement it.

[2015-08-13 19:48] jsuereth commented on #17
Hey guys, this turns out to be part of a class of bugs relating to Java `.class` files and the scala symbol loader.   We'll have to add very specific support for `enum` in the future.  For now you HAVE to provide custom Pickler/Unpickler for these types.

In fact, in 0.11.x we'll no longer allow a pickler to be generated by the macros because we know our information about Java classes is suspect.

[2015-08-13 19:48] jsuereth commented on #17
Oh, and also I should check:   Is this a java enum or a Scala enum?

[2015-08-13 20:02] #319 closed, assigned to jsuereth

[2015-08-13 20:04] jsuereth commented on #366
@tobnee Looks like you're hitting the runtime picklers.  I've fixed this in 0.11.x with the new macros.  Can you try against master and see if the issue persists?  If not, I'll mark this as closed (we're trying to get a 0.11.x out soon).

[2015-08-13 20:04] jsuereth commented on #366
Oh, also as a workaround, you can provide a custom pickler/unpickler for the `case object`s.

[2015-08-13 20:48] dodnert commented on #17
@jsuereth - I'm primarily interested in `scala.Enumeration` values.

[2015-08-14 00:27] jsuereth commented on #42
We recently cleaned up a lot of macro hygiene issues.  This is now fixes in the 0.11.x branch.

[2015-08-14 00:27] #42 closed

[2015-08-14 00:39] jsuereth commented on #40
The "$ref" bits are expected.  Pickling is trying to share the previous values, rather than re-serialize them.

The question is, what version of pickling was this?  Could you try again with master and see if it's still an issue?

[2015-08-14 00:42] jsuereth commented on #92
I think this is fixed in master.  Please reopen if you see it again.

[2015-08-14 00:42] #92 closed

[2015-08-14 00:44] jsuereth commented on #128
This appears to be fixed with the new pickling macros, or by @phaller's changes.

[2015-08-14 00:44] #128 closed

[2015-08-14 12:14] jsuereth commented on #59
I'm not sure what you mean by `PicklerUnpicklerNotFound`, as that may have changed in the 0.10.x branch.

HOwever:  I'll talk about instances where we throw exceptions due to not finding expected tags/types at runtime. The issue comes into play because we DON'T have enough static information to make good decisions.

I've just recently taken a crack at redoing all the macros, which should dramatica

[2015-08-14 12:58] jsuereth commented on #63
Just some quick notes:
- I was able to correct the reported issue by providing a new hand-rolled ImmutableMap pickler which uses `TravPickler` generator.
- We still have the runtime issue, because the runtime pickler kicks in for `unpickle[Any]` and this tries to look into class structure, which fails.
- We need some additional runtime hooks to provide custom runtime picklers but NOT for concrete

[2015-08-14 13:26] jsuereth opened #368 "Runtime pickler lookup should allow custom pickler functions (a.k.a. type-constructor support)"
Currently, runtime lookup of picklers allows users to provide picklers for specific type tags, see: https://github.com/scala/pickling/blob/0.11.x/core/src/main/scala/scala/pickling/spi/PicklerRegistry.scala#L20

The issue here, is that many of the default custom pickling implementations which SHOULD be provided at runtime, cannot be.  This is because these pickling implementation are "incomplete".

[2015-08-14 13:27] jsuereth commented on #368
@phaller - FYI - this is my idea for handling type cosntructors I mentioned on the phone.

[2015-08-15 00:43] jsuereth commented on #121
FYI - This is a good suggestion, I'm going to try to see if I can coordinate getting documentation together and start up a legit user's guide.

[2015-08-15 00:48] jsuereth commented on #141
FYI -

What you're asking is something I actaully consider somewhat bad practice for case classes:

[code]

Here, you're really violating the spirit of the case class, that is ALL the data placed into the constructor can be reconsituted at runtime via the deconstructor (pattern matching).  If you fail to pickle any field, you actually loose out on the ability to pickle the thing statically and hav

[2015-08-15 00:48] #141 closed

[2015-08-15 08:11] btbvoy commented on #141
awesome news :+1: Thanks for update :smile:

[2015-08-15 13:32] jsuereth commented on #351
@myio561 Yes, pickles are just in-memory datastructures (by default). You'll need to persist these somewhere if you want to persist them.

[2015-08-15 13:36] jsuereth commented on #349
This one actually crashes the compiler, so I'd almost mark this a bug of some sort.

[2015-08-15 13:41] jsuereth commented on #310
This is now fixed in 0.11.x with the new macros.

[2015-08-15 13:41] #310 closed, assigned to nobody

[2015-08-15 13:47] jsuereth commented on #346
@backuitist The 0.11.x branch has a custom List[_] pikler now which should dramatically improve the performance of list pickling (in my quick tests).

[2015-08-15 14:09] phaller commented on #310
@jsuereth Should we add a regression test (on 0.11.x) for this?

[2015-08-18 08:37] eed3si9n opened #369 "exception during macro expansion: value Predef is not a package"
## steps

Use JDK8 and `publish`.

[code]

Using sbt serialization 0.1.2, which uses Scala Pickling 0.10.1.

[code]
## problem

The compilation results to the following error.

It doesn't always happen:

[code]
## expectations

No errors.
## note

Simultaneously I see that `doc` succeeds, so it could be caused by the interaction between them.

[2015-08-18 17:37] eed3si9n commented on #369
Another exception during macro expansion. Same spot in code.

[code]

[2015-08-19 10:04] Astrac opened #370 "Compiler slain by -Ywarn-unused-import"
Given this minimal `build.sbt`:

[code]

If I run the example on the REPL I get:

[code]

[2015-08-28 00:54] jsuereth commented on #369
Appears to be some kind of race condition relating to pulling the type in FastTypeTag...  May even be a compiler bug.

[2015-08-28 12:03] joaomaiaduarte opened #371 "Pickling in Spark"
Hi,

When I try to pickle in a spark environment, e.g.:

import scala.pickling.Defaults._
import scala.pickling.json._
"dummy".pickle

I get the following error:
false (of class scala.reflect.internal.Trees$Literal)

I am running the code using zeppelin notebook on AWS EMR 4.0.0. Any thoughts?

Cheers

[2015-08-28 12:10] densh opened #372 "GC overhead limit exceeded while generating a pickler for an AST"
[Following code](https://gist.github.com/densh/d8419136ad47c74b2638) is a representation of some AST that starts its branching at `Root` class. Generation of pickling for it fails to compile after minutes of full cpu utilisation with "GC overhead limit exceeded" error. This is not your average "Out Of Memory" failure as it can't really be aided by adding more memory.

[2015-08-28 13:28] joaomaiaduarte commented on #371
Hi.

I supposed the scala version in EMR 4.0.0 was 2.11 but was 2.10. Downloaded the correct version and works fine.

Sorry

[2015-08-28 13:28] #371 closed, assigned to nobody

[2015-08-28 20:38] jsuereth commented on #372
I'd like to have a minimal test case, but I think your problem is here:

https://gist.github.com/densh/d8419136ad47c74b2638#file-picklinggcoverhofeadlimitexceeded-scala-L71

When you have a circular reference of this fashion, pickling will explode (see: https://github.com/scala/pickling/issues/317).

That is, when Pickling tries to generate a pickler for abstract type `T` it needs a pickler for AL

[2015-08-31 11:29] densh commented on #372
I've refactored the code to manually generate picklers in each and every sub-hierarchy and now it compiles.

https://gist.github.com/densh/d8419136ad47c74b2638#file-workaround-scala

It really seems to be the problem with how pickling handles co-recursion between types.

[2015-08-31 11:39] jsuereth commented on #372
@densh Yeah.  That's exactly it.   We're somewhat limited in how we handle the recursion currently.  IIRC, there's something about how we generate our picklers such that certain chains of pickler lookup cannot find the previously generated Pickler, since we haven't fixed it into any old namespace, but instead capture it locally.

Given the new source code generator architecture, we could attempt t

[2015-09-01 17:41] #32 closed

[2015-09-03 14:22] #368 closed, assigned to jsuereth

[2015-09-05 01:38] nessus42 commented on #325
I'm seeing this same error. (Also on a Mac, with Java build 1.8.0_25-b17 and Scala version 2.11.7.)

I only see the error, however, if the data has become corrupted in between picking and unpickling. I suppose we can live with this, but it might be nice if we received a sensible error message, rather than just having the JVM crash.

|>oug

P.S. I'm using version 0.10.2-SNAPSHOT.

P.P.S. Sometimes

[2015-09-23 13:41] jportway opened #376 "Compilation error when using shareNothing import and binary output streams"
The following code produces a compiler error

[code]

Here's the error produced :

[code]

When pickling to json output it compiles fine

[2015-09-24 07:57] webgress commented on #17
+1 scala.Enumeration
does anybody have a working example of a custom un/pickler ?

[2015-09-24 12:35] jsuereth commented on #376
So, it looks like this should not work BUT it also should not be issuing a <notype> error, see:

[code]

What's more curious is the following:

[code]

You can see that explicitly setting the value to be OutputType and using the alternative `pickleTo` method works...

For now, try the workaround of:

[code]

I'll have to investigate why the path-dependent type isn't being used here, but I suspect

[2015-10-03 20:09] richard-jepps opened #377 "error: cannot find class or module with type name 'scala.collection.immutable.ListMap.Node'"
This might help somebody else as it seems like "game over" if you hit this as a library user, but it's fairly easy to work around.

This example code:

[code]

... produces this exception:

<addr>
Exception in thread "main" java.lang.RuntimeException: error: cannot find class or module with type name 'scala.collection.immutable.ListMap.Node'
full type string: 'scala.collection.immutable.ListMap.No

[2015-10-27 11:57] DavidGoodenough opened #378 "How to cope with changes to object definition between pickle and unpickle"
I may have missed something, but reading the docs for picking I have not seen any comments about what to do if I update the classes that define the pickled data.  So if I am running an application with version 1 of a data class, pickle the data and store it in a file, load a new version of the JAR containing the classes and try to unpickle the data, what will happen.

Presumably if none of the dat

[2015-11-02 17:37] the21st commented on #299
Our project uses `-Xfatal-warnings` (which is common best practice) so this a deal-breaker for us.

[2015-11-05 18:43] lshlyapnikov opened #379 "Serialize and deserialize Map containing BigInt and BigDecimal does not work"
Scalacheck found the failing test case:

[code]

Map("a" -> 0, "b" -> 0) was not equal to Map("a" -> -85070591730234615865843651857942052864, "b" -> 2.147484E-1469790866)

[2015-11-18 17:11] jsuereth commented on #378
This is a great question.  Migration of data is VERY hard.   for sbt-serialization, we actually added special handling for `Option[T]` data types in the picklers.   It allows for fields to no longer be present, but not fail the pickler.  the mechanism here, then, is to use `Option[]` for things which are added (or may not be present), allowing old values to be serialzied and new values to also ser

[2015-11-19 22:25] DavidGoodenough commented on #378
My need is to pickle data for storage in a DB and yes, I want to store objects as blobs, I do not need or want to use a SQL DB and store the data as fields. I then need to be able to unpickle it at a later time when the code may have been updated.  Thus I need to be able to tollerate both additions and deletions of fields, and possibly type changes.

[2015-11-22 19:05] alexeykudinkin opened #380 "Pickle crashes trying to unpickle scala.Enumeration"
Spewing:

[code]

[2015-11-22 19:05] alexeykudinkin commented on #380
Branch `0.11.*`

[2015-12-17 21:32] iravid opened #381 "Pickler generation fails for object"
Hi, I'm trying to generate a pickler for an object graph. The compilation fails after a while, suggesting to use -Xlog-implicits to see why. After adding that option, this is part of the output (it repeats itself for quite a while):

[code]

Would be happy to provide any more info if needed.

[2015-12-18 05:46] a-reisberg opened #382 "Custom Serializers"
Is it possible to write a custom serializer and hook it up with pickling?  For example, when one wants to serialize/deserialize ActorRefs, one has to incorporate the address part which is only known at run time. Is it possible with pickling?

[2015-12-18 07:54] jeffrey-aguilera commented on #378
David, I would look at Avro, or some other serialization mechanism that explicitly supports schema lifecycle.

[2016-01-08 21:51] toplinuxsir opened #383 "The library can support python pickle format ?"
The library can support python pickle format ? support encode to python pickled format or decode from python pickled format ?

Thanks

[2016-01-23 00:04] boricles opened #384 "Serialize and deserialize complex Objects is giving a java.lang.NegativeArraySizeException"
I have the following classes
class Animal(val name: String, val age: Int)
class Zookeeper(val name: String, val age: Int, val takesCare: Array[Animal])

and I want to serialize and deserialize

[code]

The code works when we are dealing with simple objects, but in this case we are getting

Exception in thread "main" java.lang.NegativeArraySizeException
    at scala.reflect.ManifestFactory$$anon$6.

[2016-02-03 15:16] concerned3rdparty opened #385 "Some of the constructer parameters could not be serialized"
When i try to json pickle an instance of this class (using this line:  cls.pickleTo(....)   ),
 N, timeWindow and lastN parameters do not show up in the result.No problem with other parameters  .Any tips for this problem ?

class CluStream(dimC:Int, dimD:Int,  NC:Int, ND:Int, N:Int, threshold:Double, timeWindow:Double, lastN:Int, uniqueLabelCount:Int=1){
........
}

[2016-02-05 01:35] retronym commented on #101
I'm getting the same issue now with the SBT build of Scala itself.

For now, I'm working around with:

[code]

[2016-02-12 23:03] lambdaknight opened #386 "Enumeration Pickling Failure When Pickling As Superclass Even With Custom Pickler"
[code]

[2016-02-23 22:39] mrmeyers99 commented on #381
Did you ever resolve this?  I have the same issue.

[2016-02-24 00:24] LottiePrice opened #387 "Example fails to run"
I can't get the example code to work (copied directly from https://github.com/scala/pickling/wiki/Writing-custom-Picklers-Unpicklers):
//-----------------------------------------------------------
class Foo(val x: String)

   object Foo {
     implicit object pickler extends AbstractPicklerUnpickler[Foo] {
       private val stringPickler = implicitly[Pickler[String]]
       private val stringUnpi

[2016-02-24 05:52] iravid commented on #381
Nope, gave up on the library and adopted chill instead.

On 24 Feb 2016, 00:39 +0200, mrmeyers99notifications@github.com, wrote:

[2016-02-24 16:40] unoexperto opened #388 "Push 2.12 version to Maven/Sonatype repo"
Guys, could you please push 2.12 version to Maven/Sonatype repo ? Current version is "2.12.0-M3".

Thanks!

[2016-02-26 19:21] jvican commented on #360
+1

[2016-02-26 19:35] jvican opened #389 "`Pickling` fails to generate automatically picklers/unpicklers [SOLVED]"
I'm using `scala-pickling` in a project and I've noticed that sometimes minor changes in the codebase can lead to unexpected errors when generating picklers/unpicklers. For instance, changing names of folders/packages. Why? Probably because that triggers changes in the compilation order of the program.

When this error happens, run `set scalacOptions += "-Xlog-implicits"` in sbt and browse through

[2016-02-26 19:35] jvican commented on #389
Could anyone label this as `documentation`? Thanks.

[2016-03-14 16:43] jappeace opened #390 "A double reference in a list causes a classcast exception in unpickle"
Unit test:

[code]

Results in:
`
Caused by: java.lang.ClassCastException: scala.collection.immutable.$colon$colon cannot be cast to test.picklerTest$OvalShape`

I'd fix it myself but I know nothing of your codebase and it seems really complex, so I first want to have your opinion if I'm even doing it right :p.

[2016-03-15 18:01] jsuereth commented on #390
This looks like a legit bug w/ "runtime picklers".   Could you try generating the pickler/unpickler staticly? That should be a decent workaround.

[code]

Right now "List" is not handled correctly by runtime picklers, depressingly...

[2016-03-15 18:05] jsuereth commented on #387
I think this may be a bug in the 0.10.x code branch, vs. the 0.11.x code branch.

I think in the 0.10.x code branch, the default stringPickler is doing some pretty odd things, specifically you're missing a type tag, so it's throwing an exception when it looks for one (yay).

You can work around this by `hintStaticallyElided()` on the builder + reader....

[2016-03-15 18:07] jsuereth commented on #386
Your fooPickler doesn't look like it's actually getting used for foo.   SPECIFICALLY, you're using the runtime pickler when you pickle `Qux`, and the  hand-generated pickler for `Foo` has not been registered with dynamic pickler registry.

If you're doing a lot of dynamic pickling, you'll want to register with the dynamic runtime, otherwise you should statically generate the pickler.

[2016-03-16 11:47] jappeace commented on #390
Ok so now I have 2 tests and they both fail:

[code]

The first one gives:

The second one gives:

I don't know what happened to the class cast exception honestly. The first one just seems like a off by one error. And the second one may also be something like that (I've seen stack overflows happen in recursion with a off by one error).

Btw, I'm using `0.10.1`

[2016-03-16 17:02] jappeace commented on #390
I tried running that test with a clone of the master version and they both succeeded! Now I'm trying to link up a jar of the latest version to see if that's stable. If so never mind this issue. (I'm fighting with sbt right now, usually I use gradle so it takes some time).

[2016-03-16 20:37] jappeace commented on #390
The tests work with the 0.11.x branch. however they'll fail on `v0.10.1_2.11`. So basically this is a non issue. You could decide to add the unit tests (to prevent regressions) but I think I'll close it now.

[2016-03-16 20:37] #390 closed, assigned to nobody

[2016-03-21 18:46] jvican opened #391 "No support for value classes (?)"
Hi everyone,

I'm getting an error that reveals that you probably don't have (proper?) support for value classes. It's understandable since you may be executing the macros after the desugaring happens and the value classes are removed. I'd like to know if there's interest in supporting this for the future. In case that you effectively have only access to the desugared code, I guess that the good a

[2016-03-23 13:43] heathermiller commented on #360
Still an issue, above link broken. Same file on 0.11.x: https://github.com/scala/pickling/blob/0.11.x/core/src/main/scala/scala/pickling/pickler/Iterable.scala

[2016-03-23 14:35] jvican commented on #360
For the record, that references to 0.11.x which hasn't been released. If you've stumbled upon this issue, you'll need to release a new version locally with `publishLocal` and change the scala version you want to use in `project/Util.scala`.

[2016-03-23 14:36] heathermiller commented on #360
We could also cut a release – @jsuereth WDYT? I'm happy to do it so long as it doesn't mess up any of your plans.

[2016-03-24 01:19] jsuereth commented on #391
Yeah, this is a bug, we do wish to support value classes.

I think one of the issues here is around 'runtime' serialization and supporting a `serialize[A] / deserialize[B]` mecahnism where A => Any and B => MsgId.

Can you show more of the code which encounters the error, i.e. how are you serializing?

[2016-03-24 01:25] jsuereth commented on #383
It would need to be added, perhaps.  Can you show us what python pickle format looks like or link to a doc?

[2016-03-24 07:57] vboilay opened #392 "Scala, file name too long, compile crashes"
Hi, there are already many posts about that.
I use windows, compiler crash probably for the same reason while the error message is different:
"The filename, directory name, or volume label syntax is incorrect"
from sbt, compile sometimes crashes, sometimes not.
From from IntelliJ (2016.1), it crashes every time.
No encrypted drive.
That is very very ennoying almost a showstopper for me :-(
Has thi

[2016-04-02 21:01] jvican opened #395 "Flaw in algorithm?"
I'm trying to generate picklers and unpicklers for `Spore`s. One problem I'm hitting is that despite having static picklers/unpicklers for a given `Spore`, scala-pickling generates their own brand-new picklers/unpicklers. For instance, let's say we have this:

[code]

Types `T` and `S` are concrete in the call site.

The aforementioned problem appears when we don't have a `Pickler`/`Unpickler` for

[2016-04-02 21:05] jvican commented on #395
Just want to clarify that the `Pickler`s/`Unpickler`s of `Spore` are not generated in the call site. I propagate the `Pickler`s/`Unpickler`s of `S` through my API and then at some point invoke those `implicitly`. If before those statements I place `implicitly[B[S]]`, the problem disappears because scala pickling detects a type `R` (`B[S]`) which is able to fit in `Spore[T, R]`.

[2016-04-03 10:34] jvican opened #396 "Got `locally` when asking for generated picklers/unpicklers"
I'm generating `Pickler`s/`Unpickler`s for my own classes with macros. Those classes have type parameters and therefore I ask for their picklers/unpicklers. The problem is that the trees that I'm getting from the previous version (`0.10.0`) and the current one (`0.11.0-M1`) differ slightly. Concretely, the last version returns an implicit object wrapped in a `locally` block. This is an issue becau

[2016-04-03 15:34] jvican commented on #392
This seems to be a scala compiler-related problem, the good place to report this would be here: https://github.com/scala/scala

[2016-04-03 15:49] jvican opened #397 "Warning when asking for implicit picklers/unpicklers"
[code]

The above code snippet produces this beauty:

[code]

Why are you relying on `registerPicklee`? Why not `picklers.genPickler`? Isn't that part of `refRegistry` and therefore it's related to the bookkeeping of circular references? Why do you need that for a simple pickler/unpickler of a tuple?

This only affects scala pickling `v0.11.x`.

[2016-04-04 08:49] jvican opened #398 "Runtime generation does not take into account static picklers/unpicklers"
This is related to #395 but it's not exactly the same. In that example I showed how, when runtime generation is enabled, if there are no picklers/unpicklers for a class `A`, wrapped by a class `W`, then a brand new pickler/unpickler for `W[A]` is created from scratch, without respecting the static picklers/unpicklers available for `W`.

In this case, I'd like to show that this bug works also the o

[2016-04-04 18:06] jvican commented on #354
Is there still interest in refactoring `TypeTag` or has already been done in `v0.11.x`?

[2016-04-04 18:22] jvican commented on #332
I think I'm hitting this problem as well. Is there any fix that I can apply to the new branch so that it gets fixed? I see that whereas this is not the most important problem of scala pickling, it's quite important for servers and, generally, for any kind of distributed system, which I happen to be developing.

Is it feasible to have an initialiser of this pickling logic in the startup of the appl

[2016-04-05 14:34] phaller commented on #354
@jvican I am still _very much_ interested in this refactoring. AFAIK it has not yet been done in `0.11.x`.

[2016-04-05 14:44] jvican commented on #354
Nice, I think it's a great idea and I'd love to see it working :+1:

[2016-04-05 15:04] andreaTP commented on #354
:+1: :+1: :+1:

[2016-04-06 12:59] jvican opened #399 "Scala pickling fails to generate picklers/unpickers for case classes that receive implicit parameters"
I have a case class defined like this:

[code]

I need to have a reference to those picklers/unpicklers because there are some call sites that don't know the type parameter and they need to be still able to pickle/unpickle.

Scala pickling gives this error:

[code]

I'd propose to ignore completely implicits that are caught by any picklable entity by default. Therefore, they won't be pickled/unpic

[2016-04-08 16:46] jvican commented on #396
The problem I was having was probably related to an owner chain corruption issue since I was splicing something that was already typechecked. As I think I can find a workaround given the latest improvements of `FastTypeTag` on the `0.11.x` branch, I'm closing this.

[2016-04-08 16:46] #396 closed, assigned to nobody

[2016-04-08 16:47] jvican commented on #397
Most of the warnings have disappeared with #400 but some of them persist.

[2016-04-12 12:50] jsuereth commented on #397
This is actually a warning about "sharing".  `registerPicklee` is used to determine if we have a cycle in the pickle-object-graph.  It actually has nothing to do with runtime pickler generation (or `genPickler`).

It's most liekly due to some stale code in sourcegen.scala or elsewhere.

[2016-04-12 12:52] jsuereth commented on #395
Can you place a small reproducable example?  I'm having trouble seeing this myself, and I'd like to try to fix it.

Note: one of my larger TODO items is to clean up how dependent-picklers are looked up in teh macros.  Right now it's a recursive chain of macro-invocation for implciitly finding picklers.  may remain that way, but be less flaky in the future...

[2016-04-12 12:53] jsuereth commented on #392
This is related to the scala 2.10.x compiler, you can see how we work aorund it here:

https://github.com/scala/pickling/blob/0.11.x/build.sbt#L12

Hope that helps!

[2016-04-12 12:53] #392 closed, assigned to nobody

[2016-04-12 18:07] hordon opened #404 "How to remove hint information from picklers in scala-pickling 0.11.x ?"
I just want to serialize case class to simple json like that:

[code]

In reality jsonString contains `{"$type":"Person","firstName":"Lisa","lastName":"Daniels"}`
I would like to exclude `$type` attribute from resulting json.

While discovering library source code i found that `$type` can be removed from json by way passing hint to `JSONPickleBuilder`.

In pickling version 0.10.x it can be achieve

[2016-04-13 08:21] jvican commented on #404
Yes. You're getting this error because you don't have a `CustomJsonUnpickler`. If you elide the type, you have to make sure that you also elide the type when you unpickle (via `hintElidedType`). If you don't, you get this error because scala pickling is looking for a type in the json message.

To solve this problem, do the same you've done for `Builder` but now for the `Reader`.

[2016-04-13 08:23] jvican commented on #391
Yes, that's exactly what's happening @jsuereth. That's why I guess that the place to fix this issue is in the unpickler logic. I'd like to pick this up soon. Is it okay for you?

[2016-04-13 10:05] hordon commented on #404
For some hours i found the solution. It's a little bit tricky to remove hint information. I think it should be more simple because it takes some time to understand the internals of the library and do that work.

[code]

[2016-04-13 10:05] #404 closed, assigned to nobody

[2016-04-13 16:24] jvican commented on #404
I agree that it should be easier to do. I'd make a PR making it easy.

[2016-04-13 18:45] jvican opened #409 "Cache already generated picklers for known types"
When we ask for a `Pickler` of some common type like `List[String]`, scala pickling generates a new pickler even if there's already one stored in the `mapPickler` of the DefaultPicklerRegistry which matches the mentioned type.

Eventually, we'd like to generate `Pickler`s for only the types that we need to. The same problem applies to `Unpickler` and probably other common types (I haven't made sur

[2016-04-14 15:01] jvican commented on #409
I've found something very interesting:

[code]

The second statement should not trigger the generation of the `Unpickler` since it has already been created before.

[2016-04-15 08:40] jvican commented on #388
I guess we'll publish once `0.11.x` is polished. I'll say that's gonna be soon.

[2016-04-18 14:02] jvican opened #414 "Generate and register picklers/unpicklers together when using reflection"
As commented in #412, we should also generated and register (un)picklers together when using reflection. @jsuereth pointed it out this way:
`We should update the runtime registry of picklers/unpicklers so that it works on PicklerUnpicklers rather than the individual ones. This includes generating both when we need runtime creation of picklers`.

This is future work for `0.11.x` and it will be done

[2016-04-18 14:03] #409 closed, assigned to nobody

[2016-04-19 21:38] yukw777 commented on #299
+1

[2016-04-20 08:34] jvican commented on #94
This is completely fixed in last versions of scala/pickling. Concretely, the new upcoming version `0.11.x`. Hopefully, we'll release also a version for scalajs due to some changes in the structure of the project, aiming at modularity.

[2016-04-20 08:34] #94 closed

[2016-04-20 11:52] jvican commented on #299
We'll try to work around this soon.

[2016-04-22 09:31] jvican opened #415 "Registry is not initialized when we switch runtimes"
It happens because when we switch runtimes we don't reinitialize all the registry and state that was attached to the old runtime strategy. To make it work, we have to ask for an implicit pickler of a standard type (e.g. `implicitly[Pickler[List[String]]]`). This is a shoddy workaround that has to be done by the user instead of scala pickling.

[2016-04-25 14:44] jvican opened #417 "FastTypeTag doesn't work for types with type parameters"
I wonder why this happens:

[code]

When using `AnyUnpickler` one wants to unpickle anything inferred from its type. In this case, reflection fails to create an unpickler for that type because `t` and `s` are unknown. Why aren't `t` and `s` concrete when they could be `List[Int]` and `List[String]`? Is this a bug? Otherwise, why doesn't `FastTypeTag` constructs the tag from the full type?

/cc @js

[2016-04-25 19:27] jsuereth commented on #417
@jvican Looks like that's a bug.   There's a bit of funny-behavior regarding type parameters (usually my fault) in the macros.

[2016-04-25 22:10] jvican commented on #417
Good, tomorrow I'll work on a fix for this.

[2016-04-27 08:36] jvican commented on #417
The problem here is that we create `FastTypeTag`s for type variables. I'm not sure if we should. Let me explain it with a bit of code:

[code]

Now, let's create a concrete pickler for `Foo`:

[code]

I'm not very sure if this behavior is intended by scala pickling. But since a `FastTypeTag` is a witness of a type, and we expect this type to be concrete, wouldn't be sensible to still consider this

[2016-04-29 14:06] jvican opened #418 "StaticOnly should be used to choose the runtime strategy"
Right now, we force the user to both select the runtime strategy and import `StaticOnly` so that only static picklers are used. However, the import `StaticOnly` should already decide to use one the runtime strategy that doesn't fallback to runtime generation when looking up tags. We may also want to add another implicit `StaticOnlyWithLookup` that will use the only-lookup runtime strategy.

Curren

[2016-04-29 15:07] jsuereth commented on #418
So, I have a few thoughts here:
1.  `staticOnly` is meant to be about the generated picklers themesleves.  i.e. DO NOT use any reflection in the code generated for the picklers.  (These should be scala-js friendly).
2. Whether to delegate to runtime lookup of picklers should probably be a separate flag. I agree with you that it should be controlled.  By default, i think picklers are designed to be

[2016-04-29 15:08] jsuereth commented on #417
yes, I agree it looks like a bug.  We shouldn't be able to grab a static type tag without some witness of `t`'s fast type tag

[2016-05-02 18:30] #415 closed, assigned to nobody

[2016-05-05 21:05] jvican opened #420 "Scalajs support in 0.11.x"
This issue will keep track of the status of the scalajs support in the new upcoming release 0.11.x that will be ready soon. Any new issue that may appear can be described here instead of opening independent issues every time.
/cc @andreaTP

[2016-05-05 21:09] jvican commented on #420
Right now, we're blocked by https://github.com/scalatest/scalatest/issues/873. This issue prevents us from getting scalajs support with our current test suite. Hopefully, scalatest will fix this and therefore we'll keep the test infrastructure. Otherwise we'll need to replicate the test suite with a scalajs-compatible test framework.

[2016-05-06 14:56] jsuereth opened #421 "Remove GRL locks around FastTypeTag generation"
It's no longer using scala reflection.

[2016-05-06 15:30] jvican commented on #421
Are you doing this in your upcoming PR? Otherwise I'll do it, it's pretty straightforward.

[2016-05-09 12:59] jvican opened #422 "Improve performance of implicit search"
These are the times we are looking for an implicit of type `T` in the implicit search for our test suite (which, btw, is huge):

| Type | Times |
| --- | --- |
| Any | 1420 |
| String | 1456 |
| Int | 1677 |
| Ref | 2338 |

These stats lay the ground for the upcoming improvement in the implicit search that hopefully will address the performance issues that we face right now, especially large compi

[2016-05-09 13:05] jvican opened #423 "StaticOnly should be enabled by default"
Currently, if we want to ensure that picklers/unpicklers are generated statically at compile-time, this flag has to be imported in the scope.

I would propose to turn it around and create a flag called `AllowDynamic` that would make the program compile in case it has to generate picklers/unpicklers at runtime. Otherwise, `StaticOnly` would be chosen by default.

I think this is a reasonable way to

[2016-05-09 13:06] jvican commented on #423
WDYT @jsuereth ?

[2016-05-09 13:41] andreaTP commented on #423
:+1:

[2016-05-09 14:06] andreaTP commented on #420
Probably will be feasible to keep consistent the tests in the `jvm` project and gradually port what becomes available in `shared`  .

[2016-05-09 14:10] jvican commented on #420
That's what I'm doing, but I'm also applying some changes of my own.

In the meanwhile, as I see you're eager to work on this, I'm going to update the scalatest issue in 5' with a current solution and a branch with a fix that will allow you to test how many errors we get from scalatest. A big deal of them (the severe ones) will be fixed by josh and me in our upcoming already-planned refactorings!

[2016-05-09 15:20] andreaTP commented on #420
ok, now core cross compiles!
https://github.com/andreaTP/pickling
I can go for the linking errors,
what do you prefer? To keep the codebase more Scala.js friendly or to cover as much as possible java compatibility pushing to Scala.js (that's what I usually do, but this is up to you!)

[2016-05-09 16:06] jvican commented on #420
Great! This is a big win.

Regarding the fixes, try to fix the easiest ones because the more complicated ones will probably be related to the tags that josh is fixing. W.r.t the codebase, the idea is to share everything that we have know and avoid any unnecessary duplication of code, so I'd go for java-ish code.

[2016-05-09 21:56] jvican commented on #422
Current:

| Type | Times |
| --- | --- |
| Any | 168 |
| String | 0 |
| Int | 0 |
| Ref | 0 |

I still have to figure out why `Any` is still being invoked through the macro generation. This hints that the compiler cannot find it in scope. This is probably caused by some test cases not importing `AnyPicklerUnpickler` from the whole `Defaults` (we have some tests that cherry-pick the imports) and th

[2016-05-09 22:16] jvican commented on #422
It also improves https://github.com/scala/pickling/issues/342. I don't own a MBP, but in my Thinkpad x201 which is about 5 years old, the example in the issue consumes ~2s to compile. I think I could cut it even more with the upcoming changes.

[2016-05-10 06:44] andreaTP commented on #420
Linking problems right now involve:
java.security.AccessControlException
java.util.TimeZone
java.text.SimpleDateFormat

scala.util.parsing.json.JSON
scala.util.parsing.json.JSONType
scala.util.parsing.json.JSONArray
scala.util.parsing.json.JSONObject

scala.reflect.runtime.package

The first 3 will be targeted with PR on Scala-Js itself.
JSON needs to be abstracted, I will check where it is involv

[2016-05-10 09:03] jvican commented on #420
OK, so I just had a meeting with @andreaTP. Just for the record, he'll be working on:

[code]

While Josh and I will focus on the reflection, since we've already working on it.

[2016-05-10 11:52] andreaTP commented on #420
Fixed the JSON linking (it will not work right now but it will be easy to implement it properly).

There are used methods like:

[code]

that needs to be used only in the "reflection enabled" mode.

[2016-05-10 11:53] jvican commented on #420
Yes, I know, I'll take care of them soon :smile:

[2016-05-13 13:50] jvican commented on #422
I'm going to put off the next improvements in the implicit search for the next PR, since it's not high priority.

[2016-05-13 14:21] jvican opened #426 "Refined types should be supported"
Scala pickling should support all the refined types but those which require reflection, i.e. structural typing. A quick example:

[code]

Right now, we fail to provide picklers and unpicklers for such types.

[2016-05-24 11:16] jvican commented on #426
I'd like to point out that one can define their own picklers and unpickler for that refined type, the goal of this ticket is to do this automatically.

[2016-05-24 17:12] hilios commented on #202
Experiencing this with a Play app, 1 year after no way around it?

[2016-05-24 20:36] jvican commented on #202
Not in `0.10.0`, which has been abandoned in favor of the upcoming `0.11.x`, which will be released soon (probably mid-June). This looks like a hygiene problem and, in that case, it's being completely fixed in the new version.

There's no official release of it, but if it's urgent you can publish it locally and use [this](https://github.com/scala/pickling/blob/0.11.x/notes/0.11.0.markdown) as rele

[2016-05-25 18:47] jvican commented on #114
Addressed by #429. Works in latest `0.11.x`.

[2016-05-25 18:47] #114 closed

[2016-06-01 09:04] jvican opened #431 "Cut first milestone release"
It would be interesting to start publishing what we have for the `0.11.0` release.

[2016-06-01 09:09] heathermiller commented on #431
Let me know when to cut it and I can take care of it.

[2016-06-01 11:56] jvican opened #432 "Add picklers and unpickler for Nothing"
Sometimes, it is mandatory to have picklers and unpicklers for `Nothing`. A compelling use case would be:

[code]

Currently, the above snippet fails because the picklers are missing. I can see how other use cases would benefit from this addition while not being detrimental at all. The expected behaviour of the picklers is to do, logically, **nothing**.

[2016-06-01 12:44] jvican commented on #432
Addressed by https://github.com/scala/pickling/pull/433.

[2016-06-01 12:45] jvican commented on #431
After https://github.com/scala/pickling/issues/432 is merged, could you cut `0.11.0-M1` @heathermiller? :smile:

[2016-06-01 12:47] heathermiller commented on #431
Sure

[2016-06-01 12:50] jvican commented on #431
Actually, after this https://github.com/scala/pickling/pull/434 that correctly sets the version.

[2016-06-01 15:54] #432 closed, assigned to nobody

[2016-06-01 15:55] jvican commented on #431
@heathermiller you can cut the release now, master's been updated! :dancer:

[2016-06-01 15:57] #385 closed, assigned to nobody

[2016-06-01 15:58] heathermiller commented on #431
Ok, `0.11.0-M2` it is. Gimme an hour or two and I'll take care of it

[2016-06-01 16:00] jvican commented on #381
Probably fixed in `0.11.x`. Please, would you be so kind to share the code that produced this to add it as a test case? Scala pickling has been totally reworked it in the latest release.

[2016-06-01 16:01] jvican commented on #380
True, scala-pickling doesn't have support for enumerations. Why don't you express the same logic with `sealed trait`s and `case object`s? At some point, we'd like to support it though.

[2016-06-01 16:08] jvican commented on #385
Closing because the provided information is not useful and does not state what your problem is. Could you perhaps add more concrete information and code snippets to figure out how we can help you?

[2016-06-01 16:55] jvican commented on #385
Actually, sorry, I've been a quite harsh before. I finally figured out what you mean. PR #435 shows how this example is compiling for latest `0.11.x`, which Heather is about to publish. If this new version doesn't fix this problem, it probably comes from the way you're serializing/deserializing. Either your custom picklers and unpicklers don't take care of serializing those fields (in case you cre

[2016-06-01 17:03] jvican commented on #382
So, if I have understood your question correctly and unless I'm missing something, it's not only possible but the way scala pickling works. You generate the code at compile-time, but you provide the objects that will be serialized at runtime. Just make sure you import everything that is necessary to generate a pickler and unpickler for `ActorRef` (the guide explains it) or, at least, you create yo

[2016-06-01 17:06] jvican commented on #332
@vikasuy This problem only happens if, and only if, you use runtime picklers and unpicklers. The previous version could mistakenly generate runtime picklers instead of static ones, but only in some concrete corner cases. It may happen that you've hitted one of these or that you're explicitly using runtime picklers. In the first case, just update to `0.11.0-M2`, in the second case `import static._`

[2016-06-01 20:34] phaller commented on #431
Wow, @jvican has a strong emoji game! :-)

[2016-06-01 20:39] phaller commented on #420
@jvican @andreaTP Just wanted to say it's great to see the progress on Scala.js support.

[2016-06-02 08:39] heathermiller commented on #431
@jvican can you start preparing release notes for 0.11.x?

[2016-06-02 08:44] jvican commented on #431
There's still some ongoing work that needs to go into `0.11.x`, so I'd rather write the release notes when everything is ready for the final release, and not the milestone. However, @jsuereth has some release notes here: https://github.com/scala/pickling/blob/0.11.x/notes/0.11.0.markdown.

[2016-06-02 09:40] heathermiller commented on #431
Normally, minutes are a work-in-progress. People add to the minutes as they make changes to a release. It's a lot easier to iteratively add new lines than to try and remember at the last minute before cutting the release all the stuff that was added/changed.

So I would really encourage you to add to Josh's notes if you can. It'd help you/us down the line on the final release notes, and others who

[2016-06-02 09:56] jvican commented on #431
Right, I'll get down to it soon then!

[2016-06-02 13:12] heathermiller commented on #431
Release cut. It normally takes a couple of hours to propagate, but when it's available you should be able to see it here:
http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.scala-lang.modules%22%20AND%20a%3A%22scala-pickling_2.11%22

[2016-06-02 13:12] #431 closed, assigned to heathermiller

[2016-06-02 13:48] heathermiller commented on #431
Now live!: http://search.maven.org/#artifactdetails%7Corg.scala-lang.modules%7Cscala-pickling_2.11%7C0.11.0-M2%7Cjar

[2016-06-03 00:00] threeseed commented on #256
I am having the issue with 0.10.1 on Scala 2.10.6.

Surely serialising a Scala list shouldn't cause issues.

[2016-06-03 10:00] jvican commented on #256
@baank Give a try to the last milestone release of `0.11.0-M2`. It's solved this problem and I'm pretty certain you won't have any more problems at all. However, beware that we have changed some internal APIs. If you are using scala pickling for only basic pickling/unpickling, you won't have any problem.

[2016-06-03 10:13] heathermiller commented on #256
@jvican, it seems @baank is on Scala 2.10. So far, pickling 0.11.x isn't cross-compiled for both 2.11 and 2.10.

Can it be?

[2016-06-03 11:20] jvican commented on #256
Hey! Yes, Scala pickling is compiling in `2.10`, the only thing missing is to publish an artifact for that version. :smile:

[2016-06-03 11:28] heathermiller commented on #256
Ok, thanks for letting me know! I'll see if I can tag and cut a release for 0.11.0-M2 on 2.10 :) Will let you know when it's propagated... Hopefully this fixes @baank's issues.

[2016-06-03 11:41] jvican commented on #256
Yes, let's hope it fixes them!

Note, though, that we recommend the use of static picklers and unpicklers over `AnyPicklerUnpickler`. I don't know the details of your particular use case, but it's always better to specify the type unless you're forced to use `Any`. I'll try to update the release notes so that first users of the new release know all the changes and have a basic tutorial.

[2016-06-05 23:49] dzufferey opened #436 "Variadic arguments for case class"
Pickling fails to generate a pickler for case classes with variadic arguments.

Here is an example that fails to compile with `Cannot generate a pickler`:

[code]

I'm not sure if this use case should be supported by pickling or not. If this is not something that should be supported by pickling, can you give me some advice on how to write custom picklers for similar cases.

Thank you

[2016-06-08 09:02] jvican opened #437 "Remove patmat warnings"
This needs to go away:

[code]

[2016-06-08 09:07] jvican commented on #436
Hi @dzufferey!

~~Yes, indeed, this is a case supported by scala pickling. Which version are you using? Please, could you bump up to `0.11.0-M2`? We have tons of tests checking that this works. Either your real-world example is more complex than the shown code snippet OR you're using a very very old version of scala-pickling.~~

Also, note that it's recommended to `import static._` as well, so tha

[2016-06-08 09:18] jvican commented on #436
Well, actually I just tested this, and as you reported it's not working. I assumed that the vararg arguments was converted to `Seq` but it's converted ot `WrappedArray`. So, I'll add tests and fix this.

How urgent is this for you? @dzufferey

[2016-06-08 13:53] dzufferey commented on #436
Hi @jvican,

It is not urgent. Just let me know when it is fixed.

I discussed this with @phaller and he recommended that I open an issue. That was a few months ago, so no urgency at all.

Thanks.

[2016-06-08 16:47] jvican commented on #436
That's great, I'll take care of it @dzufferey !

Hope to get back to you soon.

[2016-06-09 03:56] pabloa commented on #17
+1 Scala enum

[2016-06-17 23:27] jodersky commented on #388
I added Scala 2.12.0-M4 support to the build and did some minor refactoring to make it compile (mainly porting over the `sun.misc.Unsafe` code from scala, as the latest version does not provide it anymore).

Unfortunately, anonymous functions don't work anymore, since they are no longer compiled to `package.Class$$anonfun$X.class` classes.

You can see my progress [here](https://github.com/scala/p

[2016-06-18 10:13] jvican commented on #388
This is great, thanks! Will review soon and discuss about the anonymous functions support :+1:

[2016-06-18 21:43] jodersky commented on #388
@jvican I created work-in-progress pull request #438 , it's probably easier to discuss matters there

[2016-07-12 14:07] cornim opened #439 "Can't unpickle ValueSet"
Hi,

I'm trying to pickle and unpickle a ValueSet, alas without success. Here is the repl input/output:

[code]

This is on:
Scala version 2.11.6
OpenJDK Server VM, Java 1.7.0_79
Pickling version 0.9.1 (latest on maven afaik)

Am I doing something wrong or is unpickling of ValueSets just not supported?

Best,
Cornelius

[2016-07-16 14:06] schickling commented on #380
I'm facing the same problem where I cannot use `sealed trait`s :(

[2016-07-16 14:07] schickling commented on #17
👍

[2016-07-16 14:08] schickling commented on #439
👍

[2016-07-16 14:08] schickling commented on #439
Facing the same problem. Seems like `Enumeration` is not supported :(

[2016-07-20 17:55] Keshi commented on #17
+1

[2016-08-16 14:18] EdgeCaseBerg commented on #439
I'm using Java 8, scala 2.11.7 and also got this problem with 0.10.1

[2016-08-19 12:16] ChetanBhasin opened #440 "Pickling 0.10.2-SNAPSHOT for Scala 2.10"
We do not currently have Scala 2.10 artefact for latest snapshot. While this shouldn't require any code changes, it'd be nice to have.

[2016-08-30 08:33] ChetanBhasin opened #441 "Compile time serialisation failing for nested case classes with Scala 2.10.6"
Here is the console history:

[code]

[2016-08-30 11:17] heathermiller commented on #441
What version are you using?

[2016-08-30 11:48] ChetanBhasin commented on #441
@heathermiller The version is `10.0.1`

[2016-09-16 13:17] stk-code opened #442 "Error when saving a Map of Int and a Composite"
When I want to unpickle a Map [Int, ImagePosition], where ImagePosition is a CompositePickler :

[code]

I receive following error:

[code]

A workaround, saving the map as two seqs, works:

[code]

[2016-10-17 15:36] the21st commented on #299
@jvican any progress on this?

[2016-10-17 15:37] jvican commented on #299
No, but feel free to contribute :smile:.

[2016-11-01 22:09] sc6l6d3v commented on #43
Hi,

Am having some issues with the above gist from trumanw:

https://gist.github.com/nanothermite/871c4dc0e452c5ddca94436422e34804

With this build.sbt:

lazy val pickling = "org.scala-lang" %% "scala-pickling" % "0.9.1"

lazy val root = (project in file(".")).
  settings(
    name := "sbt-pickling-example",
    scalaVersion := "2.11.5",
    libraryDependencies += pickling,
    resolvers += Resol

[2016-11-01 22:34] sc6l6d3v commented on #43
Never mind - figured it out:

https://gist.github.com/nanothermite/651c52b4161aee8742fc2e250c8729a3

[2016-11-20 21:44] oskoi commented on #17
👍

[2016-11-25 19:22] zzvara opened #445 "java.lang.VerifyError: Bad type on operand stack while encapsulating Pickler"
The following code:

[code]

Evaluates to:
[code]

When the `Serializer` is changed to accept a pre-generated `Pickler` of a concreted type through the constructor, the same problem is encountered. For example:

`object messageSerializer extends Serializer[Message](PicklerUnpickler.generate[Message])`

But if the `Serializer` is abstract and has an abstract `implicit val pickler: AbstractPicklerUn

[2016-11-27 08:40] zzvara opened #446 "Some macro in PicklerUnpickler is not serializable"
Is it possible to serialize the `PicklerUnpickler` generated by `PicklerUnpickler.generate[T]`? A marco of `PicklerUnpickler` is not serializable by Java. Is this going to be supported, or even possible?

[2016-12-01 16:09] lespea commented on #388
Any update on getting a version for 2.12 pushed?

[2017-01-04 13:25] bbarn3y commented on #17
+1

[2017-01-17 15:00] pkhamutou opened #448 "Deserialization in incorrect type"
Hello, could you explain me why `pickling` is able to deserialize in incorrect type, without any errors/warning? Or I'm doing something wrong?
[code]

[code]

Output:
[code]

So as you can see it is possible to deserialize `MoreComplex` or `LessComplex` into `SimpleType` but not other way around. So how can I be sure that I `unpickle` it in a proper type?

Thanks!

[2017-01-25 07:53] etorreborre commented on #135
This is pretty old now so I'm closing this.

[2017-01-25 07:53] #135 closed

[2017-02-01 21:41] ryan-richt commented on #420
Hey guys! What ever happened to this feature that was "ready", did it make it?

[2017-02-02 19:47] RPGambit2 commented on #360
I switched to "org.scala-lang.modules" %% "scala-pickling" % "0.11.0-M2" because my code was crashing when trying to unpickle a List.   Now I am getting hundreds of warnings:

Warning:(53, 55) method lookupPicklee in package internal is deprecated: Use `currentRuntime.refRegistry.pickle.registerPicklee` instead
    val elkKMUnpickled = eiKafkaMessage.bytes.unpickle[ControlTopicMessage]
Warning:(53

[2017-02-06 14:26] dwijnand opened #449 "Consider dropping or updating the link to http://lampwww.epfl.ch/~hmiller/pickling"
http://lampwww.epfl.ch/~hmiller/pickling currently speaks of adding picking version "0.8.0-SNAPSHOT", which asides from being impossible from Maven Central, is also really old, given the latest stable version is 0.10.1 (and 0.11.0-M2 pre-release).

Consider dropping the link or updating the information found at the link.

[2017-03-09 10:19] DonDebonair opened #450 "Unpickle without specifying type"
Is it possible to unpickle a pickled object without specifying the type?

Example:

[code]

The example doesn't work:

[code]

Am I missing something, or is this just not possible?

Usecase: serializing a set of objects of which the types are not known at compile time

[2017-03-29 22:13] ekrich commented on #388
Here is my attempt to upgrade - made some progress. https://github.com/scala/pickling/pull/451

[2017-04-25 15:38] SethTisue opened #452 "Is this project abandoned?"
Are new maintainers sought?

Regardless of what the situation is, it would be good if the README were frank about it.

[2017-04-25 20:31] lrytz commented on #452
In case this is alive:

Since it's published under `org.scala-lang.modules`, it would make sense to use the [sbt-scala-modules](https://github.com/scala/sbt-scala-modules/) sbt plugin and the mechanism for tag-driven releases, like for example in https://github.com/scala/scala-parallel-collections/tree/master/admin. If someone is interested, I can help.

[2017-04-25 20:37] SethTisue commented on #452
(We should change that, actually...)

[2017-04-25 20:39] dwijnand commented on #452
To?

[2017-04-25 20:45] SethTisue commented on #452
`ch.epfl.scala` perhaps

[2017-04-26 01:01] heathermiller commented on #452
Let's not change package names unnecessarily.

[2017-04-26 01:39] SethTisue commented on #452
at the moment we're only talking about changing the organization under which the module is published, not package names in the code

[2017-04-26 03:56] heathermiller commented on #452
Sorry, writing from my phone while on honeymoon. Let's not change organization names/break build files. Same logic applies

[2017-04-26 04:22] SethTisue commented on #452
nothing will change while you're off on your trip, I promise :-)

[2017-05-31 13:13] jcrowley66 commented on #450
In your last line try:   val objAgain = b.unpickle[AnyRef]

May also work with Any, but have not tried.

[2017-05-31 13:50] jcrowley66 opened #453 "Incorrect handling of Option[xxx] if None"
Apologies if this is a duplicate, but several searches did not turn up this problem. [Using JSON format]

With this definition:
      case class PickleNone(test:Option[String])

this sequence works OK:
  val test = PickleNone(None)
  val roundTrip = test.pickle.value.unpickle[PickleNone]

gives **test == roundTrip**

but this sequence:
  val test = PickleNone(None)
  val roundTrip = test.pickle.va

[2017-06-02 14:48] kamilkloch commented on #388
Any chance for a 2.12 release?

[2017-06-02 15:09] ekrich commented on #388
I talked to @SethTisue at Scala Days Chicago but none of the original authors have piped in. The CI right now will not compile 2.12 but my pull does compile locally - refer to #451 for more info.

@heathermiller Since you were one of the original authors, do you know anything about this?

@kamilkloch Are you current using the 2.11 or 2.10 version of this library?

[2017-06-02 15:37] SethTisue commented on #388
related: #452

[2017-06-02 20:05] kamilkloch commented on #388
@ekrich Thanks for pushing the topic. I am using 2.11. The last frontier stopping me from switching to 2.12 ;)

[2017-06-05 08:32] michielboekhoff commented on #453
Just tested this, this seems to have been fixed in 0.11.x. Can you confirm this, @jcrowley66?

[2017-06-05 20:15] jcrowley66 commented on #453
Ran under both 0.10.1 and 0.11.0-M2. JDK 1.8.0_121 in both cases. Both failed, and 0.11.0-M2 seems to have regressed, since each of the None instances now has a separate object ID. (Sorry about the formatting - can't quite figure it out!)

"C:\Program Files\Java\jdk1.8.0_121\bin\java"

Using scala pickling 0.10.1
===========================
test == testUnpickled is: true
   test == testAnyRef is:

[2017-06-05 22:19] jcrowley66 commented on #453
Sorry re the Close - hit the wrong button. Both of the previous tests run under Windows 7.

[2017-06-05 23:01] jcrowley66 commented on #453
Set up a completely clean project (using IntelliJ) with PickleNoneTest as the only source code present. Ran with 0.10.1 as the only Jar included, then deleted that and ran with 0.11.0-M2 as the only Jar. Same results.

[2017-06-06 08:08] michielboekhoff commented on #453
I'll have a look at this later today.

[2017-06-07 14:43] michielboekhoff commented on #453
I've been able to replicate this issue. Interesting that I hadn't been able to replicate this. I'll have a look to see if I can find a fix.

[2017-06-07 14:51] jcrowley66 commented on #453
Great, thanks.

John Crowley
Westport, CT
203-856-2396

[2017-06-08 11:09] michielboekhoff commented on #453
Right, so this issue is intermittently showing. I can't figure out exactly what it is. Anyone available to provide some assistance?

[2017-06-08 13:17] michielboekhoff commented on #453
Right, I've done some more investigation and I'm going to share my findings:

Sometimes, the test I've made passes, seemingly randomly. I think what's happening is that a generated pickler for None is creating a new instance, which gets assigned a different ID. As this is not intended, I would think, it's best to write a manual pickler for Option, which I can have a go at tomorrow.

[2017-06-08 13:37] jcrowley66 commented on #453
Agree, when scala.None.type is detected while unpickling it needs to be handled separately so that the unique scala.None instance is returned. Sorry that I have no experience with the innards of the pickling library, so cannot offer any advice on the implementation.

[2017-06-08 13:48] michielboekhoff commented on #453
I don't think that'd be too hard, I'll set it up. Just wondering why the test passes intermittently... maybe force either runtime pickling or static pickling, see if that makes it better?

[2017-06-08 14:04] jcrowley66 commented on #453
Now you are definitely beyond my expertise!

[2017-06-13 19:48] jcrowley66 commented on #453
This might be a hint - slightly different problem, but in the same ballpark. This is 0.10.1 - will try to run with 0.11.x tomorrow & report if any difference.

This source:   responseTo:  Option[UUIDCarrier] = None,  // None if this is original message
gets pickled as:
  "responseTo": {
    "$type": "scala.None$"
  },

which then throws an exception while trying to unpickle:

scala.pickling.Pickli

[2017-06-14 12:48] kamilkloch commented on #452
Any news? :)

[2017-06-20 15:29] jcrowley66 opened #454 "val from trait not pickled"
Have this trait:
[code]
and this case class:
[code]
instantiating the case class by:

`
   TestCaseClass(1, 2.0, "String3")
`

and pickling gives this JSON:

[code]

The **createdAt** field does not appear in the JSON, and hence upon unpickling is set to a new (different) value.  By contrast, the **millis** field is represented and hence retains the originally assigned value. If **createdAt** is d

[2017-08-27 20:29] rrwright commented on #452
Any update? There are so many open issues with no new replies, and long-standing goals for what is now at some level remedial support (e.g.: https://github.com/scala/pickling/pull/451), that I worry this project is in fact abandoned. —but I sure hope not! Any news? Thanks!

[2017-09-07 15:35] jsuereth commented on #452
@rrwright I can help you get your code submitted into the project, but I just don't have time to do the 2.11->2.12 transition.  My fear is that the loss of whitebox macros means this project needs to pull a phoenix and be brought back as a different beast entirely.

[2017-09-08 04:18] rrwright commented on #452
Thanks @jsuereth . That sounds pretty conclusive on the demise of this project. :-/

[2018-02-15 09:43] maximn commented on #437
Is this still an issue?

[2018-02-20 07:00] amogh09 commented on #10
I get this error on CircleCI. I am assuming that it's due to encrypted file system but it only occurs where I use pickling so I think it still qualifies as a bug in pickling.

[2018-03-12 20:49] RyanGlScott commented on #140
Closing stale issue.

[2018-03-12 20:49] #140 closed

[2018-09-01 23:16] opensorceror opened #455 "Pickling fails with a weird issue"
I'm trying to serialize an object to JSON using scala-pickling 0.10.1 and Scala 2.11, but am having a very strange issue. I've replicated a minimal example below:

[code]

However, if I remove or comment out `var compressionCodecFactory1: CompressionCodecFactory = _` within the trait `foo`, it compiles and pickles perfectly. I've also tried adding the `@transient` notation to this var, but it fail

[2018-09-03 12:41] #449 closed, assigned to nobody

[2018-10-11 02:02] SethTisue commented on #452
@heathermiller any objection to simply using GitHub's "archive" feature on this repo...?

[2019-02-20 01:58] SethTisue commented on #452
I am archiving the repo now.